<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="managerMapper">
	<!-- 상품 -->
	<resultMap type="Product" id="productResult">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="SELLER" property="seller" />
		<result column="CATEGORY" property="category" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_BRAND" property="productBrand" />
		<result column="NORMAL_PRICE" property="normalPrice" />
		<result column="SALE_PRICE" property="salePrice" />
		<result column="DISCOUNT" property="discountPercent" />
		<result column="MAIN_IMG" property="mainImg" />
		<result column="DESCRIPTION" property="description" />
		<result column="SHIPMENT_TYPE" property="shipmentType" />
		<result column="SHIPMENT_TIME" property="shipmentTime" />
		<result column="SHIPPING_PRICE" property="shippingPrice" />
		<result column="STATUS" property="status" />
	</resultMap>

	<!-- 소옵션 분류 -->
	<resultMap type="ProductDetailOption"
		id="productDetailOptionResult">
		<result column="OPTIONS_NAME_NO" property="detailOptionNo" />
		<result column="OPTIONS_NAME" property="detailOptionName" />
		<result column="MAIN_OPTION" property="mainDetailOption" />
		<result column="OPTIONS_NORMAL_PRICE"
			property="detailOptionOriginPrice" />
		<result column="OPTIONS_SALE_PRICE"
			property="detailOptionSaledPrice" />
		<result column="OPTIONS_STOCK" property="detailOptionQuantity" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="STATUS" property="status" />
	</resultMap>

	<!-- 게시글 -->
	<resultMap type="Board" id="boardResult">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="BOARD_THUMBNAIL" property="boardThumbnail" />
		<result column="BOARD_CREATE_DATE" property="boardCreateDate" />
		<result column="BOARD_VIEWS" property="boardViews" />
		<result column="BOARD_TAG" property="boardTag" />
		<result column="BOARD_VOTE" property="boardVote" />
		<result column="STATUS" property="status" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>

	<!-- ajax 상품 조회 -->
	<select id="ajaxSearchBoard" resultMap="boardResult">
		SELECT *
		FROM BOARD
		WHERE
			BOARD_TITLE LIKE '%${searchBoardTitle}%'
	</select>


</mapper>