<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="managerMapper">
	<!-- 상품 -->
	<resultMap type="Product" id="productResult">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="SELLER" property="seller" />
		<result column="CATEGORY" property="category" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_BRAND" property="productBrand" />
		<result column="NORMAL_PRICE" property="normalPrice" />
		<result column="SALE_PRICE" property="salePrice" />
		<result column="DISCOUNT" property="discountPercent" />
		<result column="MAIN_IMG" property="mainImg" />
		<result column="DESCRIPTION" property="description" />
		<result column="SHIPMENT_TYPE" property="shipmentType" />
		<result column="SHIPMENT_TIME" property="shipmentTime" />
		<result column="SHIPPING_PRICE" property="shippingPrice" />
		<result column="STATUS" property="status" />
	</resultMap>

	<!-- 소옵션 분류 -->
	<resultMap type="ProductDetailOption"
		id="productDetailOptionResult">
		<result column="OPTIONS_NAME_NO" property="detailOptionNo" />
		<result column="OPTIONS_NAME" property="detailOptionName" />
		<result column="MAIN_OPTION" property="mainDetailOption" />
		<result column="OPTIONS_NORMAL_PRICE"
			property="detailOptionOriginPrice" />
		<result column="OPTIONS_SALE_PRICE"
			property="detailOptionSaledPrice" />
		<result column="OPTIONS_STOCK" property="detailOptionQuantity" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="STATUS" property="status" />
	</resultMap>

	<!-- 게시글 -->
	<resultMap type="Board" id="boardResult">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="BOARD_THUMBNAIL" property="boardThumbnail" />
		<result column="BOARD_CREATE_DATE" property="boardCreateDate" />
		<result column="BOARD_VIEWS" property="boardViews" />
		<result column="BOARD_TAG" property="boardTag" />
		<result column="BOARD_VOTE" property="boardVote" />
		<result column="STATUS" property="status" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>

	<!-- 회원 -->
	<resultMap type="Member" id="memberResult">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_EMAIL" property="memberEmail" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NICKNAME" property="nickname" />
		<result column="MEMBER_PHONE" property="memberPhone" />
		<result column="MEMBER_GENDER" property="gender" />
		<result column="MEMBER_ADDRESS" property="memberAddress" />
		<result column="MEMBER_BIRTH" property="birth" />
		<result column="MEMBER_PROFILE" property="profile" />
		<result column="MEMBER_GRADE" property="grade" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="MEMBER_MODIFY_DATE" property="memberModifyDate" />
		<result column="MEMBER_STATUS" property="memberStatus" />
		<result column="ALARM_STATUS" property="alarm" />
		<result column="LOGIN_SIGN_PATH" property="loginPath" />
	</resultMap>
	
	<!-- 신고 -->
	<resultMap type="Report" id="reportResult">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="REPORT_WHY" property="reportReason"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
	</resultMap>
	
	<!-- BoardSearchDTO -->
	<resultMap type="BoardSearchDTO" id="boardSearchDTOResult">
		<result column="REPORT_COUNT" property="reportCount" />
		<result column="BOARD_WRITER" property="boardWriter" />
		<association property="board" javaType="Board">
			<result column="BOARD_NO" property="boardNo" />
			<result column="BOARD_TITLE" property="boardTitle" />
			<result column="BOARD_CONTENT" property="boardContent" />
			<result column="BOARD_THUMBNAIL" property="boardThumbnail" />
			<result column="BOARD_CREATE_DATE" property="boardCreateDate" />
			<result column="BOARD_VIEWS" property="boardViews" />
			<result column="BOARD_TAG" property="boardTag" />
			<result column="BOARD_VOTE" property="boardVote" />
			<result column="STATUS" property="status" />
			<result column="MEMBER_NO" property="memberNo" />
		</association>
	</resultMap>
	
	<!-- ajax 상품 조회 -->
	<select id="ajaxSearchBoard" resultMap="boardSearchDTOResult">
		SELECT *
		FROM BOARD
		WHERE BOARD_TITLE LIKE '%' || #{searchBoardTitle} || '%'
		ORDER BY BOARD_NO
	</select>
	
	<!-- ajax 회원 조회 -->
	<select id="ajaxSearchMember" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE
			MEMBER_EMAIL LIKE '%'|| #{searchMember} ||'%'
			OR MEMBER_NICKNAME LIKE '%'|| #{searchMember} ||'%'
		ORDER BY MEMBER_NO
	</select>
	
	<!-- 검색한 회원 결과 개수 조회 -->
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE
			MEMBER_EMAIL LIKE '%'|| #{searchMember} ||'%'
			OR MEMBER_NICKNAME LIKE '%'|| #{searchMember} ||'%'
	</select>
	
	<!-- 회원번호로 회원 조회 -->
	<select id="selectMember" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE
			MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 회원상태 변경 -->
	<update id="ajaxUpdateMemberStatus" parameterType="Member">
		UPDATE MEMBER
		<if test='memberStatus == "Y"'>
			SET MEMBER_STATUS = 'N'
		</if>
		<if test='memberStatus == "N"'>
			SET MEMBER_STATUS = 'Y'
		</if>
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 누적신고수 조회 -->
	<select id="selectReportCount" resultType="_int">
		SELECT COUNT(BOARD_NO) AS REPORT_COUNT
		FROM REPORT
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 작성자 조회 -->
	<select id="selectBoardWriter" resultType="string">
		SELECT MEMBER_NICKNAME
		FROM MEMBER
		JOIN BOARD USING (MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 번호로 게시글 상태 조회 -->
	<select id="selectBoard" resultType="string">
		SELECT STATUS
		FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 상태 변경 -->
	<update id="ajaxUpdateBoardStatus" parameterType="Board">
		UPDATE BOARD
		<if test='boardStatus == "Y"'>
			SET STATUS = 'N'
		</if>
		<if test='boardStatus == "N"'>
			SET STATUS = 'Y'
		</if>
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 검색한 게시글 개수 조회 -->
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE 
			BOARD_TITLE LIKE '%' || #{searchBoardTitle} || '%' 
	</select>
</mapper>