<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPageMapper">
	<!-- 회원 -->
	<resultMap type="Member" id="memberResult">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_EMAIL" property="memberEmail" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NICKNAME" property="nickname" />
		<result column="MEMBER_PHONE" property="memberPhone" />
		<result column="MEMBER_GENDER" property="gender" />
		<result column="MEMBER_ADDRESS" property="memberAddress" />
		<result column="MEMBER_BIRTH" property="birth" />
		<result column="MEMBER_PROFILE" property="profile" />
		<result column="MEMBER_GRADE" property="grade" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="MEMBER_MODIFY_DATE" property="memberModifyDate" />
		<result column="MEMBER_STATUS" property="memberStatus" />
		<result column="ALARM_STATUS" property="alarm" />
		<result column="LOGIN_SIGN_PATH" property="loginPath" />
	</resultMap>

	<!-- 레시피 -->
	<resultMap type="Recipe" id="recipeResult">
		<result column="RCP_NO" property="recipeNo" />
		<result column="RCP_TITLE" property="recipeTitle" />
		<result column="RCP_CONTENT" property="recipeContent" />
		<result column="RCP_VIDEO" property="recipeVideo" />
		<result column="RCP_MAIN_PHOTO" property="recipeMainPhoto" />
		<result column="RCP_TAG" property="recipeTag" />
		<result column="RCP_WRITE_DATE" property="recipeWriteDate" />
		<result column="COOK_AMOUNT" property="cookAmount" />
		<result column="COOK_TIME" property="cookTime" />
		<result column="COOK_KIND" property="cookKind" />
		<result column="COOK_LEVEL" property="cookLevel" />
		<result column="RCP_VIEW" property="recipeView" />
		<result column="STATUS" property="status" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	
	<!-- 게시글 -->
	<resultMap type="Board" id="boardResult">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="BOARD_THUMBNAIL" property="boardThumbnail" />
		<result column="BOARD_CREATE_DATE" property="boardCreateDate" />
		<result column="BOARD_VIEWS" property="boardViews" />
		<result column="BOARD_TAG" property="boardTag" />
		<result column="BOARD_VOTE" property="boardVote" />
		<result column="STATUS" property="status" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	
	<!-- 상품 -->
  	<resultMap type="Product" id="productResult">
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="SELLER" property="seller"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="PRODUCT_NAME" property="productName"/>
  		<result column="PRODUCT_BRAND" property="productBrand"/>
  		<result column="NORMAL_PRICE" property="normalPrice"/>
  		<result column="SALE_PRICE" property="salePrice"/>
  		<result column="DISCOUNT" property="discountPercent"/>
  		<result column="MAIN_IMG" property="mainImg"/>
  		<result column="DESCRIPTION" property="description"/>
  		<result column="SHIPMENT_TYPE" property="shipmentType"/>
  		<result column="SHIPMENT_TIME" property="shipmentTime"/>
  		<result column="SHIPPING_PRICE" property="shippingPrice"/>
  		<result column="PRODUCT_VIEW" property="productView"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<!-- 댓글 -->
  	<resultMap type="BoardComment" id="boardCommentResult">
  		<result column="COMMENT_NO" property="commentNo"/>
  		<result column="COMMENT_CONTENT" property="commentContent"/>
  		<result column="COMMENT_DATE" property="commentDate"/>
  		<result column="STATUS" property="status"/>
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  	</resultMap>

	<!-- 팔로잉 수 조회 -->
	<select id="selectFollowingCount" resultType="_int">
		SELECT COUNT(FOLLOWING_NO)
		FROM FOLLOW
		WHERE FOLLOWING_NO = #{memberNo}
	</select>

	<!-- 팔로워 수 조회 -->
	<select id="selectFollowerCount" resultType="_int">
		SELECT COUNT(FOLLOWER_NO)
		FROM FOLLOW
		WHERE FOLLOWING_NO = #{memberNo}
	</select>

	<!-- 게시글 스크랩 수 조회 -->
	<select id="selectBoardScrapCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM SCRAP_BOARD
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 상품 스크랩 수 조회 -->
	<select id="selectProductScrapCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM SCRAP_PRODUCT
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 레시피 스크랩 수 조회 -->
	<select id="selectRecipeScrapCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM SCRAP_RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 게시글 좋아요 수 조회 -->
	<select id="selectTotalBoardLikeCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM LIKE_BOARD
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 레시피 좋아요 수 조회 -->
	<select id="selectTotalRecipeLikeCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM LIKE_RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 조회수가 많은 순으로 정렬된 레시피 리스트 조회 -->
	<select id="selectMostViewRecipeList" resultMap="recipeResult">
		SELECT *
		FROM RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
		ORDER BY RCP_VIEW DESC
	</select>
	
	<!--  조회수가 많은 순으로 정렬된 게시글 리스트 조회 -->
	<select id="selectMostViewBoardList" resultMap="boardResult">
		SELECT *
		FROM BOARD
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
		ORDER BY BOARD_VIEWS DESC
	</select>
	
	<!-- 스크랩한 레시피 조회 -->
	<select id="selectMostViewScrapedRecipeList" resultMap="recipeResult">
		SELECT R.*
		FROM RECIPE R
		JOIN SCRAP_RECIPE SR USING (RCP_NO)
		WHERE 
			R.STATUS = 'Y' AND
			SR.MEMBER_NO = #{memberNo}
		ORDER BY R.RCP_VIEW DESC
	</select>
	
	<!-- 스크랩한 게시글 조회 -->
	<select id="selectMostViewScrapedBoardList" resultMap="boardResult">
		SELECT B.*
		FROM BOARD B
		JOIN SCRAP_BOARD SB USING (BOARD_NO)
		WHERE 
			B.STATUS = 'Y' AND
			SB.MEMBER_NO = #{memberNo}
		ORDER BY B.BOARD_VIEWS DESC
	</select>

	<!-- 스크랩한 상품 리스트 조회 -->
	<select id="selectMostViewScrapedProductList" resultMap="productResult">
		SELECT P.*
		FROM PRODUCT P
		JOIN SCRAP_PRODUCT SP USING (PRODUCT_NO)
		WHERE 
			P.STATUS = 'Y' AND
			SP.MEMBER_NO = #{memberNo}
		ORDER BY P.PRODUCT_VIEW DESC
	</select>
	
	<!-- 좋아요 누른 레시피 리스트 조회 -->
	<select id="selectLikedRecipeList" resultMap="recipeResult">
		SELECT R.*
		FROM RECIPE R
		JOIN LIKE_RECIPE LR USING (RCP_NO)
		WHERE 
			R.STATUS = 'Y' AND
			LR.MEMBER_NO = #{memberNo}
		ORDER BY R.RCP_VIEW DESC
	</select>
	
	<!-- 좋아요 누른 게시글 리스트 조회 -->
	<select id="selectLikedBoardList" resultMap="boardResult">
		SELECT B.*
		FROM BOARD B
		JOIN LIKE_BOARD LB USING (BOARD_NO)
		WHERE 
			B.STATUS = 'Y' AND
			LB.MEMBER_NO = #{memberNo}
		ORDER BY B.BOARD_VIEWS DESC
	</select>
	
	<!-- 레시피 리스트 조회 -->
	<select id="selectRecipeList" resultMap="recipeResult">
		SELECT R.RCP_NO, 
	       R.RCP_TITLE, 
	       R.RCP_MAIN_PHOTO, 
	       R.RCP_WRITE_DATE, 
	       R.RCP_VIEW, 
	       R.STATUS, 
	       R.MEMBER_NO, 
	       COUNT(*) AS LIKE_COUNT
		FROM RECIPE R
		LEFT JOIN LIKE_RECIPE LR USING (RCP_NO)
		WHERE R.STATUS = 'Y' AND R.MEMBER_NO = #{memberNo}
		GROUP BY R.RCP_NO, 
		         R.RCP_TITLE, 
		         R.RCP_MAIN_PHOTO, 
		         R.RCP_WRITE_DATE, 
		         R.RCP_VIEW, 
		         R.STATUS, 
		         R.MEMBER_NO
		<if test='sortingMethod == "recent"'>
			ORDER BY R.RCP_WRITE_DATE DESC
		</if>
		<if test='sortingMethod == "view"'>
			ORDER BY R.RCP_VIEW DESC
		</if>
		<if test='sortingMethod == "like"'>
			ORDER BY LIKE_COUNT DESC
		</if>
	</select>
	
	<!-- 나의 레시피 개수 조회 -->
	<select id="selectMyRecipeCount" resultType="_int">
		SELECT COUNT(*)
		FROM RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 레시피 댓글 개수 조회 -->
	<select id="selectRecipeReviewCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE
			STATUS = 'Y' AND
			RCP_NO = #{recipeNo}
	</select> 
	
	<!-- 레시피 좋아요 개수 조회 -->
	<select id="selectRecipeLikeCount" resultType="_int">
		SELECT COUNT(*)
		FROM LIKE_RECIPE
		WHERE 
			STATUS = 'Y' AND
			RCP_NO = #{recipeNo}
	</select>
	
	<!-- 레시피 삭제 -->
	<update id="removeRecipe" parameterType="Recipe">
		UPDATE RECIPE
		SET STATUS = 'N'
		WHERE RCP_NO = #{recipeNo}
	</update>
	
	<!-- 게시글 개수 조회 -->
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectRecentBoardList" resultMap="boardResult">
		SELECT B.BOARD_NO,
				B.BOARD_TITLE,
				B.BOARD_CREATE_DATE,
				B.BOARD_VIEWS,
				B.BOARD_THUMBNAIL,
				B.STATUS,
				B.MEMBER_NO,
				COUNT(*) AS LIKE_COUNT
		FROM BOARD B
		LEFT JOIN LIKE_BOARD LB USING (BOARD_NO)
		WHERE B.STATUS = 'Y' AND B.MEMBER_NO = #{memberNo}
		GROUP BY B.BOARD_NO,
				B.BOARD_TITLE,
				B.BOARD_CREATE_DATE,
				B.BOARD_VIEWS,
				B.BOARD_THUMBNAIL,
				B.STATUS,
				B.MEMBER_NO
		<if test='sort == "recent"'>
			ORDER BY B.BOARD_CREATE_DATE DESC
		</if>
		<if test='sort == "view"'>
			ORDER BY B.BOARD_VIEWS DESC
		</if>
		<if test='sort == "like"'>
			ORDER BY LIKE_COUNT DESC
		</if>
	</select>
	
	<!--게시글 코멘트 개수 조회 -->
	<select id="selectBoardCommentCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMMENTS
		WHERE
			STATUS = 'Y' AND
			BOARD_NO = #{boardNo}
	</select> 
	
	<!-- 게시글 좋아요 개수 조회  -->
	<select id="selectBoardLikeCount" resultType="_int">
		SELECT COUNT(*)
		FROM LIKE_BOARD
		WHERE
			STATUS = 'Y' AND
			BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 삭제 -->
	<update id="removeBoard" parameterType="Board">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 댓글 개수 조회 -->
	<select id="selectCommentCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMMENTS
		WHERE
			STATUS = 'Y'
			AND MEMBER_NO = #{memberNo}		
	</select>
	
	<!-- 댓글 조회 -->
	<select id="selectCommentList" resultMap="boardCommentResult">
		SELECT 
			COMMENT_NO,
			COMMENT_CONTENT,
			COMMENT_DATE,
			STATUS,
			BOARD_NO,
			MEMBER_NO
		FROM COMMENTS
		WHERE
			STATUS = 'Y'
			AND MEMBER_NO = #{memberNo}	
		ORDER BY COMMENT_DATE DESC
	
	</select>
	
</mapper>
