<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPageMapper">
	<!-- 회원 -->
	<resultMap type="Member" id="memberResult">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_EMAIL" property="memberEmail" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NICKNAME" property="nickname" />
		<result column="MEMBER_PHONE" property="memberPhone" />
		<result column="MEMBER_GENDER" property="gender" />
		<result column="MEMBER_ADDRESS" property="memberAddress" />
		<result column="MEMBER_BIRTH" property="birth" />
		<result column="MEMBER_PROFILE" property="profile" />
		<result column="MEMBER_GRADE" property="grade" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="MEMBER_MODIFY_DATE" property="memberModifyDate" />
		<result column="MEMBER_STATUS" property="memberStatus" />
		<result column="ALARM_STATUS" property="alarm" />
		<result column="LOGIN_SIGN_PATH" property="loginPath" />
	</resultMap>

	<!-- 레시피 -->
	<resultMap type="Recipe" id="recipeResult">
		<result column="RCP_NO" property="recipeNo" />
		<result column="RCP_TITLE" property="recipeTitle" />
		<result column="RCP_CONTENT" property="recipeContent" />
		<result column="RCP_VIDEO" property="recipeVideo" />
		<result column="RCP_MAIN_PHOTO" property="recipeMainPhoto" />
		<result column="RCP_TAG" property="recipeTag" />
		<result column="RCP_WRITE_DATE" property="recipeWriteDate" />
		<result column="COOK_AMOUNT" property="cookAmount" />
		<result column="COOK_TIME" property="cookTime" />
		<result column="COOK_KIND" property="cookKind" />
		<result column="COOK_LEVEL" property="cookLevel" />
		<result column="RCP_VIEW" property="recipeView" />
		<result column="STATUS" property="status" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	
	<!-- 게시글 -->
	<resultMap type="Board" id="boardResult">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="BOARD_THUMBNAIL" property="boardThumbnail" />
		<result column="BOARD_CREATE_DATE" property="boardCreateDate" />
		<result column="BOARD_VIEWS" property="boardViews" />
		<result column="BOARD_TAG" property="boardTag" />
		<result column="BOARD_VOTE" property="boardVote" />
		<result column="STATUS" property="status" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	
	<!-- 상품 -->
  	<resultMap type="Product" id="productResult">
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="SELLER" property="seller"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="PRODUCT_NAME" property="productName"/>
  		<result column="PRODUCT_BRAND" property="productBrand"/>
  		<result column="NORMAL_PRICE" property="normalPrice"/>
  		<result column="SALE_PRICE" property="salePrice"/>
  		<result column="DISCOUNT" property="discountPercent"/>
  		<result column="MAIN_IMG" property="mainImg"/>
  		<result column="DESCRIPTION" property="description"/>
  		<result column="SHIPMENT_TYPE" property="shipmentType"/>
  		<result column="SHIPMENT_TIME" property="shipmentTime"/>
  		<result column="SHIPPING_PRICE" property="shippingPrice"/>
  		<result column="PRODUCT_VIEW" property="productView"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<!-- 댓글 -->
  	<resultMap type="MyPageBoardCommentDTO" id="myPageBoardCommentDTOResult">
  		<result column="COMMENT_NO" property="commentNo"/>
  		<result column="COMMENT_CONTENT" property="commentContent"/>
  		<result column="BOARD_THUMBNAIL" property="boardThumbnail"/>
  		<result column="COMMENT_DATE" property="commentDate"/>
  		<result column="STATUS" property="status"/>
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  	</resultMap>
  	
  	<!-- 리뷰 -->
	<resultMap type="Review" id="reviewResult">
		<result column="review_no" property="reviewNo"/>
		<result column="review_content" property="reviewContent"/>
		<result column="review_create_date" property="reviewCreateDate"/>
		<result column="rating" property="rating"/>
		<result column="review_photo" property="reviewPhoto"/>
		<result column="review_type" property="reviewType"/>
		<result column="status" property="status"/>
		<result column="rcp_no" property="refRecipeNo"/>
		<result column="product_no" property="refProductNo"/>
		<result column="member_no" property="refMemberNo"/>
	</resultMap>
	
	<!-- 문의 -->
	<resultMap type="QnA" id="qnaResult">
		<result column="qna_no" property="qnaNo"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_create_date" property="qnaCreateDate"/>
		<result column="qna_type" property="qnaType"/>
		<result column="qna_answer_type" property="qnaAnswerType"/>
		<result column="qna_photo" property="qnaPhoto"/>
		<result column="status" property="status"/>
		<result column="ref_qna_no" property="refQnaNo"/>
		<result column="rcp_no" property="refRecipeNo"/>
		<result column="product_no" property="refProductNo"/>
		<result column="PDOPT_NO" property="refPdoptNo"/>
		<result column="member_no" property="writerNo"/>
	</resultMap>
	
	<!-- 상품 문의 DTO -->
	<resultMap type="ProductQnaDTO" id="productQnaDTOResult">
		<result column="QNA_NO" property="qnaNo"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_CREATE_DATE" property="qnaCreateDate"/>
		<result column="STATUS" property="status"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRODUCT_BRAND" property="productBrand"/>
		<result column="MAIN_IMG" property="productImg"/>
		<result column="REF_QNA_NO" property="refQnaNo"/>
		<result column="OPTIONS_NAME" property="optionName"/>
	</resultMap>	
	
	<!-- 레시피 문의 DTO -->
	<resultMap type="RecipeQnaDTO" id="recipeQnaDTOResult">
		<result column="QNA_NO" property="qnaNo"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_CREATE_DATE" property="qnaCreateDate"/>
		<result column="STATUS" property="status"/>
		<result column="RCP_NO" property="recipeNo"/>
		<result column="RCP_TITLE" property="recipeTitle"/>
		<result column="RCP_MAIN_PHOTO" property="recipeMainImg"/>
		<result column="REF_QNA_NO" property="refQnaNo"/>
	</resultMap>
	
	<!-- 스크랩 레시피 -->
	<resultMap type="ScrapRecipe" id="scrapRecipeResult">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="RCP_NO" property="recipeNo"/>
		<result column="STATUS" property="status" />
		<result column="SCRAP_RECIPE_DATE" property="scrapDate"/>
	</resultMap>

	<!-- 스크랩 레시피 DTO -->
	<resultMap type="MyPageScrapRecipeDTO" id="myPageScrapRecipeDTOResult">
		<result column="RCP_NO" property="recipeNo" />
		<result column="RCP_MAIN_PHOTO" property="recipeMainImg" />
	</resultMap>
	
	<!-- 스크랩 게시글 -->
	<resultMap type="ScrapBoard" id="scrapBoardResult">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="STATUS" property="status"/>
		<result column="SCRAP_BOARD_DATE" property="scrapDate"/>
	</resultMap>
	
	<!-- 스크랩 게시글 DTO --> 
	<resultMap type="MyPageScrapBoardDTO" id="myPageScrapBoardDTOResult">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_THUMBNAIL" property="boardThumbnail"/>
	</resultMap>
	
	<!-- 스크랩 상품 -->
	<resultMap type="ScrapProduct" id="scrapProductResult">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="STATUS" property="status"/>
		<result column="SCRAP_PRODUCT_DATE" property="scrapDate"/>
	</resultMap>
	
	<!-- 스크랩 상품 DTO -->
	<resultMap type="MyPageScrapProductDTO" id="myPageScrapProductDTOResult">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="MAIN_IMG" property="productImg"/>
	</resultMap>
	
	<!-- 좋아요 레시피 -->
	<resultMap type="LikeRecipe" id="likeRecipeResult">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="PRODUCT_NO" property="recipeNo"/>
		<result column="STATUS" property="status"/>
		<result column="LIKE_RECIPE_DATE" property="LikeDate"/>
	</resultMap>
	
	<!-- 좋아요 레시피 DTO -->
	<resultMap type="MyPageLikeRecipeDTO" id="myPageLikeRecipeDTOResult">
		<result column="RCP_NO" property="recipeNo" />
		<result column="RCP_MAIN_PHOTO" property="recipeMainImg" />
	</resultMap>
	
	<!-- 좋아요 게시글 -->
	<resultMap type="LikeBoard" id="likeBoardResult">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="STATUS" property="status"/>
		<result column="LIKE_BOARD_DATE" property="LikeDate"/>
	</resultMap>
	
	<!-- 좋아요 게시글 DTO -->
	<resultMap type="MyPageLikeBoardDTO" id="myPageLikeBoardDTOResult">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_THUMBNAIL" property="boardThumbnail"/>
	</resultMap>
	
	<!-- 냉장고 식재료  -->
	<resultMap type="RefrigeratorInsertDTO" id="RefrigeratorInsertDTOResult">
		<result column="ref_no" property="refNo" />
		<result column="member_no" property="refMemberNo" />
		<result column="ref_name" property="refName" />
		<result column="ref_thumbnail" property="refThumbnail" />
		<result column="ref_kind" property="refKind" />
		<result column="ref_consumption_date" property="refConsumptionDate" />
		<result column="ref_input_date" property="refInputDate" />
		<result column="ref_count" property="refCount" />
	</resultMap>
	
	<!-- 레시피 리스트 DTO -->
	<resultMap type="RecipeListDto" id="recipeListDtoResult">
		<result column="RCP_NO" property="recipeNo"/>
		<result column="RCP_TITLE" property="recipeTitle"/>
		<result column="RCP_MAIN_PHOTO" property="recipeImg"/>
		<result column="MEMBER_NICKNAME" property="recipeWriterNickname"/>
		<result column="MEMBER_PROFILE" property="recipeWriterProfileImg"/>
		<result column="SCRAP_COUNT" property="scrapCount"/>
	</resultMap>

<!-- ===================================== 쿼리문 =============================== -->
	<!-- 팔로잉 수 조회 -->
	<select id="selectFollowingCount" resultType="_int">
		SELECT COUNT(FOLLOWING_NO)
		FROM FOLLOW
		WHERE FOLLOWING_NO = #{memberNo}
	</select>

	<!-- 팔로워 수 조회 -->
	<select id="selectFollowerCount" resultType="_int">
		SELECT COUNT(FOLLOWER_NO)
		FROM FOLLOW
		WHERE FOLLOWING_NO = #{memberNo}
	</select>

	<!-- 게시글 스크랩 수 조회 -->
	<select id="selectBoardScrapCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM SCRAP_BOARD
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 상품 스크랩 수 조회 -->
	<select id="selectProductScrapCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM SCRAP_PRODUCT
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 레시피 스크랩 수 조회 -->
	<select id="selectRecipeScrapCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM SCRAP_RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 게시글 좋아요 수 조회 -->
	<select id="selectTotalBoardLikeCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM LIKE_BOARD
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 레시피 좋아요 수 조회 -->
	<select id="selectTotalRecipeLikeCount" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM LIKE_RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>

	<!-- 조회수가 많은 순으로 정렬된 레시피 리스트 조회 -->
	<select id="selectMostViewRecipeList" resultMap="recipeResult">
		SELECT *
		FROM RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
		ORDER BY RCP_VIEW DESC
	</select>
	
	<!--  조회수가 많은 순으로 정렬된 게시글 리스트 조회 -->
	<select id="selectMostViewBoardList" resultMap="boardResult">
		SELECT *
		FROM BOARD
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
		ORDER BY BOARD_VIEWS DESC
	</select>
	
	<!-- 스크랩한 레시피 조회 -->
	<select id="selectMostViewScrapedRecipeList" resultMap="recipeResult">
		SELECT R.*
		FROM RECIPE R
		JOIN SCRAP_RECIPE SR USING (RCP_NO)
		WHERE 
			R.STATUS = 'Y' AND
			SR.MEMBER_NO = #{memberNo}
		ORDER BY R.RCP_VIEW DESC
	</select>
	
	<!-- 스크랩한 게시글 조회 -->
	<select id="selectMostViewScrapedBoardList" resultMap="boardResult">
		SELECT B.*
		FROM BOARD B
		JOIN SCRAP_BOARD SB USING (BOARD_NO)
		WHERE 
			B.STATUS = 'Y' AND
			SB.MEMBER_NO = #{memberNo}
		ORDER BY B.BOARD_VIEWS DESC
	</select>

	<!-- 스크랩한 상품 리스트 조회 -->
	<select id="selectMostViewScrapedProductList" resultMap="productResult">
		SELECT P.*
		FROM PRODUCT P
		JOIN SCRAP_PRODUCT SP USING (PRODUCT_NO)
		WHERE 
			P.STATUS = 'Y' AND
			SP.MEMBER_NO = #{memberNo}
		ORDER BY P.PRODUCT_VIEW DESC
	</select>
	
	<!-- 좋아요 누른 레시피 리스트 조회 -->
	<select id="selectLikedRecipeList" resultMap="recipeResult">
		SELECT R.*
		FROM RECIPE R
		JOIN LIKE_RECIPE LR USING (RCP_NO)
		WHERE 
			R.STATUS = 'Y' AND
			LR.MEMBER_NO = #{memberNo}
		ORDER BY R.RCP_VIEW DESC
	</select>
	
	<!-- 좋아요 누른 게시글 리스트 조회 -->
	<select id="selectLikedBoardList" resultMap="boardResult">
		SELECT B.*
		FROM BOARD B
		JOIN LIKE_BOARD LB USING (BOARD_NO)
		WHERE 
			B.STATUS = 'Y' AND
			LB.MEMBER_NO = #{memberNo}
		ORDER BY B.BOARD_VIEWS DESC
	</select>
	
	<!-- 레시피 리스트 조회 -->
	<select id="selectRecipeList" resultMap="recipeResult">
		SELECT R.RCP_NO, 
	       R.RCP_TITLE, 
	       R.RCP_MAIN_PHOTO, 
	       R.RCP_WRITE_DATE, 
	       R.RCP_VIEW, 
	       R.STATUS, 
	       R.MEMBER_NO, 
	       COUNT(*) AS LIKE_COUNT
		FROM RECIPE R
		LEFT JOIN LIKE_RECIPE LR USING (RCP_NO)
		WHERE R.STATUS = 'Y' AND R.MEMBER_NO = #{memberNo}
		GROUP BY R.RCP_NO, 
		         R.RCP_TITLE, 
		         R.RCP_MAIN_PHOTO, 
		         R.RCP_WRITE_DATE, 
		         R.RCP_VIEW, 
		         R.STATUS, 
		         R.MEMBER_NO
		<if test='sortingMethod == "recent"'>
			ORDER BY R.RCP_WRITE_DATE DESC
		</if>
		<if test='sortingMethod == "view"'>
			ORDER BY R.RCP_VIEW DESC
		</if>
		<if test='sortingMethod == "like"'>
			ORDER BY LIKE_COUNT DESC
		</if>
	</select>
	
	<!-- 나의 레시피 개수 조회 -->
	<select id="selectMyRecipeCount" resultType="_int">
		SELECT COUNT(*)
		FROM RECIPE
		WHERE 
			STATUS = 'Y' AND
			MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 레시피 댓글 개수 조회 -->
	<select id="selectRecipeReviewCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE
			STATUS = 'Y' AND
			RCP_NO = #{recipeNo}
	</select> 
	
	<!-- 레시피 좋아요 개수 조회 -->
	<select id="selectRecipeLikeCount" resultType="_int">
		SELECT COUNT(*)
		FROM LIKE_RECIPE
		WHERE 
			STATUS = 'Y' AND
			RCP_NO = #{recipeNo}
	</select>
	
	<!-- 레시피 삭제 -->
	<update id="removeRecipe" parameterType="Recipe">
		UPDATE RECIPE
		SET STATUS = 'N'
		WHERE RCP_NO = #{recipeNo}
	</update>
	
	<!-- 게시글 개수 조회 -->
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
			SELECT B.BOARD_NO,
				B.BOARD_TITLE,
				B.BOARD_CREATE_DATE,
				B.BOARD_VIEWS,
				B.BOARD_THUMBNAIL,
				B.STATUS,
				B.MEMBER_NO,
				COALESCE(l.like_count, 0) AS like_count
			FROM BOARD B
			LEFT JOIN (
				SELECT 
					board_no,
					COUNT(*) AS like_count
				FROM 
					public.like_board
				GROUP BY 
					board_no
			) l ON b.board_no = l.board_no
			WHERE B.STATUS = 'Y' AND B.MEMBER_NO = #{memberNo}
			<if test='sort == "recent"'>
				ORDER BY B.BOARD_CREATE_DATE DESC
			</if>
			<if test='sort == "view"'>
				ORDER BY B.BOARD_VIEWS DESC
			</if>
			<if test='sort == "like"'>
				ORDER BY LIKE_COUNT DESC
			</if>
		)
		
		
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectRecentBoardList" resultMap="boardResult">
		SELECT B.BOARD_NO,
				B.BOARD_TITLE,
				B.BOARD_CREATE_DATE,
				B.BOARD_VIEWS,
				B.BOARD_THUMBNAIL,
				B.STATUS,
				B.MEMBER_NO,
				COALESCE(l.like_count, 0) AS like_count
		FROM BOARD B
		LEFT JOIN (
			SELECT 
				board_no,
				COUNT(*) AS like_count
			FROM 
				public.like_board
			GROUP BY 
				board_no
		) l ON b.board_no = l.board_no
		WHERE B.STATUS = 'Y' AND B.MEMBER_NO = #{memberNo}
		<if test='sort == "recent"'>
			ORDER BY B.BOARD_CREATE_DATE DESC
		</if>
		<if test='sort == "view"'>
			ORDER BY B.BOARD_VIEWS DESC
		</if>
		<if test='sort == "like"'>
			ORDER BY LIKE_COUNT DESC
		</if>
	</select>
	
	<!--게시글 코멘트 개수 조회 -->
	<select id="selectBoardCommentCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMMENTS
		WHERE
			STATUS = 'Y' AND
			BOARD_NO = #{boardNo}
	</select> 
	
	<!-- 게시글 좋아요 개수 조회  -->
	<select id="selectBoardLikeCount" resultType="_int">
		SELECT COUNT(*)
		FROM LIKE_BOARD
		WHERE
			STATUS = 'Y' AND
			BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 삭제 -->
	<update id="removeBoard" parameterType="Board">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	<!-- 댓글 개수 조회 -->
	<select id="selectCommentCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMMENTS
		WHERE
			STATUS = 'Y'
			AND MEMBER_NO = #{memberNo}		
	</select>
	
	<!-- 댓글 조회 -->
	<select id="selectCommentList" resultMap="myPageBoardCommentDTOResult">
		SELECT 
			C.COMMENT_NO,
			C.COMMENT_CONTENT,
			B.BOARD_THUMBNAIL,
			C.COMMENT_DATE,
			C.STATUS,
			C.BOARD_NO,
			C.MEMBER_NO
		FROM COMMENTS C
		JOIN BOARD B USING (BOARD_NO)
		WHERE C.STATUS = 'Y'
			AND C.MEMBER_NO = #{memberNo}
		ORDER BY C.COMMENT_DATE DESC
	</select>
	
	
	<!-- 리뷰 개수 조회 -->
	<select id="selectReviewCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE
			STATUS = 'Y'
			AND MEMBER_NO = #{memberNo} 
	</select> 
	
	<!-- 리뷰 조회 -->
	<select id="selectReviewList" resultMap="reviewResult" >
		SELECT *
		FROM REVIEW
		WHERE STATUS = 'Y'
			AND MEMBER_NO = #{memberNo}
		ORDER BY REVIEW_CREATE_DATE DESC
	</select>
	
	<!-- 스크랩 레시피 조회 -->
	<select id="selectScrapRecipeList" resultMap="myPageScrapRecipeDTOResult">
		SELECT R.RCP_NO, R.RCP_MAIN_PHOTO
		FROM RECIPE R
		JOIN SCRAP_RECIPE SR USING (RCP_NO)
		WHERE 
			R.STATUS = 'Y' AND
			SR.STATUS = 'Y' AND
			SR.MEMBER_NO = #{memberNo}
		ORDER BY R.RCP_WRITE_DATE DESC
	</select>
	
	<!-- 스크랩 레시피 삭제  -->
	<update id="deleteScrapRecipe" parameterType="ScrapRecipe">
		UPDATE SCRAP_RECIPE
		SET STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo} AND RCP_NO = #{recipeNo}
	</update>
	
	<!-- 스크랩 게시글 조회 -->
	<select id="selectScrapBoard" resultMap="myPageScrapBoardDTOResult">
		SELECT B.BOARD_NO, B.BOARD_THUMBNAIL
		FROM BOARD B
		JOIN SCRAP_BOARD SB USING (BOARD_NO)
		WHERE
			B.STATUS = 'Y' AND
			SB.STATUS = 'Y' AND
			SB.MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 스크랩 게시글 삭제  -->
	<delete id="deleteScrapBoard" parameterType="ScrapBoard">
		DELETE FROM SCRAP_BOARD
		WHERE MEMBER_NO = #{memberNo} AND BOARD_NO = #{boardNo}
	</delete> 
	
	<!-- 스크랩 상품 조회 -->
	<select id="selectScrapProduct" resultMap="myPageScrapProductDTOResult">
		SELECT P.PRODUCT_NO, P.MAIN_IMG
		FROM PRODUCT P
		JOIN SCRAP_PRODUCT SP USING (PRODUCT_NO)
		WHERE
			P.STATUS = 'Y' AND
			SP.STATUS = 'Y' AND
			SP.MEMBER_NO = #{memberNo}
		ORDER BY P.PRODUCT_DATE DESC
	</select>
	
	<!-- 스크랩 상품 삭제 -->
	<delete id="deleteScrapProduct" parameterType="ScrapProduct">
		DELETE FROM SCRAP_PRODUCT
		WHERE MEMBER_NO = #{memberNo} AND PRODUCT_NO = #{productNo}
	</delete>
	
	<update id="decreaseScrapProduct" parameterType="ScrapProduct">
		UPDATE PRODUCT
		SET SCRAP_COUNT = SCRAP_COUNT - 1
		WHERE PRODUCT_NO = #{productNo}
	</update>

	
	<!-- 좋아요 레시피 조회 -->
	<select id="selectLikeRecipe" resultMap="myPageLikeRecipeDTOResult">
		SELECT R.RCP_NO, R.RCP_MAIN_PHOTO
		FROM RECIPE R
		JOIN LIKE_RECIPE LR USING (RCP_NO)
		WHERE 
			R.STATUS = 'Y' AND
			LR.STATUS = 'Y' AND
			LR.MEMBER_NO = #{memberNo}
		ORDER BY R.RCP_WRITE_DATE DESC
	</select>
	
	<!-- 좋아요 레시피 삭제 -->
	<update id="deleteLikeRecipe" parameterType="LikeRecipe">
		UPDATE LIKE_RECIPE
		SET STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo} AND RCP_NO = #{recipeNo}
	</update>
	
	<!-- 좋아요 게시글 조회 -->
	<select id="selectLikeBoard" resultMap="myPageLikeBoardDTOResult">
		SELECT B.BOARD_NO, B.BOARD_THUMBNAIL
		FROM BOARD B
		JOIN LIKE_BOARD LB USING(BOARD_NO)
		WHERE
			B.STATUS = 'Y' AND
			LB.STATUS = 'Y' AND
			LB.MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 좋아요 게시글 삭제 -->
	<update id="deleteLikeBoard" parameterType="LikeBoard">
		DELETE FROM LIKE_BOARD
		WHERE MEMBER_NO = #{memberNo} AND BOARD_NO = #{boardNo}
	</update>
	
	<!-- 회원 닉네임 체크 -->
	<select id="selectMemberNicknameCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE 
			MEMBER_NO != #{memberNo}
			AND MEMBER_NICKNAME = #{nickname}
	</select>
	
	<!-- 회원 전화번호 체크 -->
	<select id="selectMemberPhoneCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE 
			MEMBER_NO != #{memberNo}
			AND MEMBER_PHONE LIKE #{memberPhone}
	</select>
	
	<!-- 회원 정보 업데이트 -->
	<update id="updateMemberInfo" parameterType="Member">
		UPDATE MEMBER
		SET 
			MEMBER_PWD = #{memberPwd},
			MEMBER_NICKNAME = #{nickname},
			MEMBER_PHONE = #{memberPhone},
			MEMBER_PROFILE = #{profile}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 변경된 회원 조회 -->
	<select id="selectMember" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
			AND MEMBER_STATUS = 'Y'
	</select>
	
	<!-- 회월탈퇴 -->
	<update id="deleteMember" parameterType="Member">
		UPDATE MEMBER
		SET MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 상품 qna 개수 조회 -->
	<select id="selectProductQnaCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
			SELECT 
				Q.QNA_NO,
				Q.QNA_CONTENT,
				Q.QNA_CREATE_DATE,
				Q.STATUS,
				P.PRODUCT_NO,
				P.PRODUCT_NAME,
				P.PRODUCT_BRAND,
				P.MAIN_IMG,
				A.QNA_NO as ref_qna_no,
				O.OPTIONS_NAME
			FROM QNA Q
			JOIN PRODUCT P USING (PRODUCT_NO)
			LEFT JOIN OPTION_NAME O ON q.pdopt_no = options_name_no
			LEFT JOIN QNA A ON Q.QNA_NO = A.REF_QNA_NO
			WHERE 
				Q.STATUS = 'Y' AND
				Q.MEMBER_NO = #{memberNo} AND
				Q.QNA_TYPE = 1 AND
				Q.QNA_ANSWER_TYPE = 1
			ORDER BY Q.QNA_CREATE_DATE DESC
		)
	</select>
			
	<!-- 상품 qna 조회 -->
	<select id="selectProductQnaList" resultMap="productQnaDTOResult">
		SELECT 
			Q.QNA_NO,
			Q.QNA_CONTENT,
			Q.QNA_CREATE_DATE,
			Q.STATUS,
			P.PRODUCT_NO,
			P.PRODUCT_NAME,
			P.PRODUCT_BRAND,
			P.MAIN_IMG,
			A.QNA_NO as ref_qna_no,
			O.OPTIONS_NAME
		FROM QNA Q
		JOIN PRODUCT P USING (PRODUCT_NO)
		LEFT JOIN OPTION_NAME O ON q.pdopt_no = options_name_no
		LEFT JOIN QNA A ON Q.QNA_NO = A.REF_QNA_NO
		WHERE 
			Q.STATUS = 'Y' AND
			Q.MEMBER_NO = #{memberNo} AND
			Q.QNA_TYPE = 1 AND
			Q.QNA_ANSWER_TYPE = 1
		ORDER BY Q.QNA_CREATE_DATE DESC
	</select>
	
	<!-- 레시피 qna 개수 조회 -->
	<select id="selectRecipeQnaCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
			SELECT 
				Q.QNA_NO,
				Q.QNA_CONTENT,
				Q.QNA_CREATE_DATE,
				Q.STATUS,
				R.RCP_NO,
				R.RCP_TITLE,
				R.RCP_MAIN_PHOTO,
				A.QNA_NO as ref_qna_no
			FROM QNA Q
			JOIN RECIPE R USING (RCP_NO)
			LEFT JOIN QNA A ON Q.QNA_NO = A.REF_QNA_NO
			WHERE 
				Q.STATUS = 'Y' AND
				Q.MEMBER_NO = #{memberNo} AND
				Q.QNA_TYPE = 2 AND
				Q.QNA_ANSWER_TYPE = 1
			ORDER BY Q.QNA_CREATE_DATE DESC
		)
	</select>
	
	<!-- 레시비 qna 조회 -->
	<select id="selectRecipeQnaList" resultMap="recipeQnaDTOResult">
		SELECT 
			Q.QNA_NO,
			Q.QNA_CONTENT,
			Q.QNA_CREATE_DATE,
			Q.STATUS,
			R.RCP_NO,
			R.RCP_TITLE,
			R.RCP_MAIN_PHOTO,
			A.QNA_NO as ref_qna_no
		FROM QNA Q
		JOIN RECIPE R USING (RCP_NO)
		LEFT JOIN QNA A ON Q.QNA_NO = A.REF_QNA_NO
		WHERE 
			Q.STATUS = 'Y' AND
			Q.MEMBER_NO = #{memberNo} AND
			Q.QNA_TYPE = 2 AND
			Q.QNA_ANSWER_TYPE = 1
		ORDER BY Q.QNA_CREATE_DATE DESC
	</select>
	
	<!-- ================ 나의 냉장고 관련 매퍼 =========================== -->
	
	<insert id="insertRefrigerator">
		insert into refrigerator
			(
			member_no,
			ref_name,
			ref_kind,
			ref_consumption_date,
			ref_input_date,
			ref_count
			)
		values
			(
			#{refMemberNo},
			#{refName},
			#{refKind},
			TO_DATE(#{refConsumptionDate}, 'YYYY-MM-DD'),
        	TO_DATE(#{refInputDate}, 'YYYY-MM-DD'),
			#{refCount}
			)
	</insert>
	
	<select id="selectListRefrigeratorsByMemberNo" resultMap="RefrigeratorInsertDTOResult">
		select
			ref_no,
			ref_name,
			ref_thumbnail,
			ref_kind,
			ref_consumption_date,
			ref_input_date,
			ref_count
		from refrigerator
		where member_no = #{memberNo}
		order by ref_consumption_date
	
	</select>
	
	<!-- 냉장고 식재료 전체 갯수 조회 -->
	<select id="selectRefriCount" resultType="_int">
		select count(ref_no)
		from refrigerator
		where member_no = #{memberNo}
	</select>
	
	<select id="selectRecipeListByRefri" resultMap="recipeListDtoResult">
		select 
			r.RCP_NO,
			r.RCP_TITLE,
			r.RCP_MAIN_PHOTO
		from recipe r
		join division d using (rcp_no) 
		join ingredients_info i using (div_no) 
		where r.status = 'Y'
		and i.ingre_name in
		<foreach collection="list" item="ingredi" open="(" close=")" separator=", ">
			#{ingredi}			
		</foreach>
		LIMIT 10
	</select>
	
	<delete id="deleteRefrigerator">
		delete
		from refrigerator
		where ref_no in 
		<foreach collection="list" item="ingre" open="(" close=")" separator=", ">
			#{ingre.refNo}			
		</foreach>
	</delete>
	
	<select id="selectRecipeListByRecipeNo" resultMap="recipeListDtoResult">
		select 
			RCP_NO,
			RCP_TITLE,
			RCP_MAIN_PHOTO
		from recipe
		where status = 'Y'
		and RCP_NO in
		<foreach collection="array" item="recipeNo" open="(" close=")" separator=", ">
			#{recipeNo}			
		</foreach>
		LIMIT 10
	</select>
	
	<delete id="deleteQna">
		DELETE FROM QNA
		WHERE QNA_NO = #{qnaNo}
	</delete>
	
</mapper>
