<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="odgProductMapper">
  	<!-- 상품 -->
  	<resultMap type="Product" id="productResult">
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="SELLER" property="seller"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="PRODUCT_NAME" property="productName"/>
  		<result column="PRODUCT_BRAND" property="productBrand"/>
  		<result column="NORMAL_PRICE" property="normalPrice"/>
  		<result column="SALE_PRICE" property="salePrice"/>
  		<result column="DISCOUNT" property="discountPercent"/>
  		<result column="MAIN_IMG" property="mainImg"/>
  		<result column="DESCRIPTION" property="description"/>
  		<result column="SHIPMENT_TYPE" property="shipmentType"/>
  		<result column="SHIPMENT_TIME" property="shipmentTime"/>
  		<result column="SHIPPING_PRICE" property="shippingPrice"/>
  		<result column="PRODUCT_VIEW" property="productView"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<!-- 소옵션 분류 -->
  	<resultMap type="ProductDetailOption" id="productDetailOptionResult">
  		<result column="OPTIONS_NAME_NO" property="detailOptionNo"/>
  		<result column="OPTIONS_NAME" property="detailOptionName"/>
  		<result column="MAIN_OPTION" property="mainDetailOption"/>
  		<result column="OPTIONS_NORMAL_PRICE" property="detailOptionOriginPrice"/>
  		<result column="OPTIONS_SALE_PRICE" property="detailOptionSaledPrice"/>
  		<result column="OPTIONS_STOCK" property="detailOptionQuantity"/>
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
     
     <!-- 상품 추가 -->
     <insert id="insertProduct" parameterType="Product">
     	INSERT INTO PRODUCT (
     		SELLER,
            CATEGORY,
            PRODUCT_NAME,
            PRODUCT_BRAND,
            NORMAL_PRICE,
            SALE_PRICE,
            DISCOUNT,
            MAIN_IMG,
            DESCRIPTION,
            SHIPMENT_TYPE,
            SHIPMENT_TIME,
            SHIPPING_PRICE
        ) VALUES (
        	#{seller},
            #{category},
            #{productName},
            #{productBrand},
            #{normalPrice},
            #{salePrice},
            #{discountPercent},
            #{mainImg},
            #{description},
            #{shipmentType},
            #{shipmentTime},
            #{shippingPrice}
        ) 
     </insert>
     
     <insert id="insertProductOptions" parameterType="java.util.List">
     	INSERT INTO OPTION_NAME (
     		OPTIONS_NAME,
     		MAIN_OPTION,
     		OPTIONS_NORMAL_PRICE,
     		OPTIONS_SALE_PRICE,
     		OPTIONS_STOCK,
     		PRODUCT_NO
     	) VALUES 
     	<foreach collection="list" item="option" separator=",">
     		(
     			#{option.detailOptionName},
     			#{option.mainDetailOption},
     			#{option.detailOptionOriginPrice},
     			#{option.detailOptionSaledPrice},
     			#{option.detailOptionQuantity},
     			currval('product_product_no_seq')
     		)
     	</foreach>
     </insert>

        
    <!-- 가장 많이 팔린 상품 조회 -->
    <select id="selectBestSellerList" resultMap="productResult">
    	SELECT
    		PRODUCT_NO,
    		PRODUCT_NAME,
    		PRODUCT_BRAND,
    		NORMAL_PRICE,
    		SALE_PRICE,
    		DISCOUNT,
    		MAIN_IMG
    	FROM PRODUCT
    	WHERE STATUS = 'Y'
    	ORDER BY SCRAP_COUNT DESC
    	LIMIT 4
    </select>
    
    <!-- 최근 입고된 상품 조회 -->
    <select id="selectRecentProductList" resultMap="productResult">
    	SELECT
    		PRODUCT_NO,
    		PRODUCT_NAME,
    		PRODUCT_BRAND,
    		NORMAL_PRICE,
    		SALE_PRICE,
    		DISCOUNT,
    		MAIN_IMG
    	FROM PRODUCT
    	WHERE STATUS = 'Y'
    	ORDER BY PRODUCT_DATE DESC
    	LIMIT 4
    </select>
    
    <!-- 
    <select id="selectProductCount" resultType="_int">
    	SELECT COUNT(*)
    	FROM PRODUCT
    	WHERE STATUS = 'Y'
    </select>
     -->
     
     <!-- 상품 번호로 상품 조회 -->
     <select id="selectProductByProductNo" resultMap="productResult">
       SELECT 
     		PRODUCT_NO,
     		CATEGORY,
     		PRODUCT_NAME,
     		PRODUCT_BRAND,
     		NORMAL_PRICE,
     		SALE_PRICE,
     		DISCOUNT,
     		MAIN_IMG,
     		DESCRIPTION,
     		SHIPMENT_TYPE,
     		SHIPMENT_TIME,
     		SHIPPING_PRICE
     	FROM PRODUCT
     	WHERE 
     		PRODUCT_NO = #{productNo} AND
     		STATUS = 'Y'
     </select>

	<!-- 상품 전체 개수 조회 -->
	<select id="selectAllProductQuantity" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<!-- 판매중인 상품 개수 조회 -->
	<select id="selectSaleProductQuantity" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'Y'
	</select>

	<!-- 일시품절된 상품 개수 조회 -->
	<select id="selectShortageProductQuantity" resultType="_int">
		SELECT COUNT(*) as shortage_product_quantity
		FROM (
			SELECT PRODUCT_NO, SUM(OPTIONS_STOCK) as total_quantity
			FROM OPTION_NAME
			GROUP BY PRODUCT_NO
			HAVING SUM(OPTIONS_STOCK) = 0
		)
	</select>
    
    <!-- 판매중지된 상품 개수 조회 -->
	<select id="selectSuspendedProductQuantity" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE STATUS = 'N'
	</select>
	
	<!-- ajax로 상품 검색 -->
	<select id="ajaxSearchProduct" resultMap="productResult">
		SELECT *
		FROM PRODUCT
		<if test='searchProductName != "*"'>
			WHERE PRODUCT_NAME LIKE '%' || #{searchProductName} || '%'
			OR CATEGORY ILIKE '%' || #{searchProductName} || '%'
		</if>
		ORDER BY PRODUCT_NO
	</select>
	
	<!-- ajax 상품 옵션 검색 -->
	<select id="ajaxSearchProductOption" resultMap="productDetailOptionResult">
		SELECT *
		FROM OPTION_NAME
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- ajax 상품 상태 변경 -->
	<update id="ajaxUpdateProductStatus" parameterType="Product">
		UPDATE PRODUCT
		<if test='status == "Y"'>
			SET STATUS = 'N'
		</if>
		<if test='status == "N"'>
			SET STATUS = 'Y'
		</if>
		
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 상품번호로 상품 조회 -->
	<select id="selectProduct" resultMap="productResult">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 상품 옵션 수정 -->
	<update id="ajaxUpdateProductOptions" parameterType="ProductDetailOption">
		UPDATE OPTION_NAME
		SET 
			OPTIONS_NAME = #{detailOptionName},
			MAIN_OPTION = #{mainDetailOption},
			OPTIONS_NORMAL_PRICE = #{detailOptionOriginPrice},
			OPTIONS_SALE_PRICE = #{detailOptionSaledPrice},
			OPTIONS_STOCK = #{detailOptionQuantity}
		WHERE 
			OPTIONS_NAME_NO = #{detailOptionNo}
	</update>
	
	<!-- 상품 검색 결과 개수 조회 -->
	<select id="selectSearchProductCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
			SELECT *
			FROM PRODUCT
			<if test='searchProductName != "*"'>
				WHERE PRODUCT_NAME ILIKE '%' || #{searchProductName} || '%'
				OR CATEGORY ILIKE '%' || #{searchProductName} || '%'
			</if>
			ORDER BY PRODUCT_NO
		)
	</select>
  </mapper>