<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="odgRecipeMapper">
  
  	<!-- 레시피 -->
  	<resultMap type="Recipe" id="recipeResult">
  		<result column="RCP_NO" property="recipeNo"/>
  		<result column="RCP_TITLE" property="recipeTitle"/>
  		<result column="RCP_CONTENT" property="recipeContent"/>
  		<result column="RCP_VIDEO" property="recipeVideo"/>
  		<result column="RCP_MAIN_PHOTO" property="recipeMainPhoto"/>
  		<result column="RCP_TAG" property="recipeTag"/>
  		<result column="RCP_WRITE_DATE" property="recipeWriteDate"/>
  		<result column="COOK_AMOUNT" property="cookAmount"/>
  		<result column="COOK_TIME" property="cookTime"/>
  		<result column="COOK_KIND" property="cookKind"/>
  		<result column="COOK_LEVEL" property="cookLevel"/>
  		<result column="STATUS" property="status"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  	</resultMap>

	<!-- 레시피 리스트 DTO -->
	<resultMap type="RecipeListDto" id="recipeListDtoResult">
		<result column="RCP_NO" property="recipeNo"/>
		<result column="RCP_TITLE" property="recipeTitle"/>
		<result column="RCP_MAIN_PHOTO" property="recipeImg"/>
		<result column="MEMBER_NICKNAME" property="recipeWriterNickname"/>
		<result column="MEMBER_PROFILE" property="recipeWriterProfileImg"/>
		<result column="SCRAP_COUNT" property="scrapCount"/>
	</resultMap>
	
	
  	<resultMap type="Product" id="productResult">
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="PRODUCT_NAME" property="productName"/>
  		<result column="PRODUCT_BRAND" property="productBrand"/>
  		<result column="NORMAL_PRICE" property="normalPrice"/>
  		<result column="SALE_PRICE" property="salePrice"/>
  		<result column="DISCOUNT" property="discountPercent"/>
  		<result column="MAIN_IMG" property="mainImg"/>
  		<result column="DESCRIPTION" property="description"/>
  		<result column="SHIPMENT_TYPE" property="shipmentType"/>
  		<result column="SHIPMENT_TIME" property="shipmentTime"/>
  		<result column="SHIPPING_PRICE" property="shippingPrice"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
     
     <!-- 레시피 개수 조회 -->
     <select id="selectRecipeCount" resultType="_int">
     	SELECT COUNT(*)
		FROM (
			SELECT 
				R.RCP_NO,
				R.RCP_TITLE,
				R.RCP_MAIN_PHOTO,
				M.MEMBER_NICKNAME,
				M.MEMBER_PROFILE,
				COALESCE(S.SCRAP_COUNT, 0) AS scrap_count
			FROM RECIPE R
			JOIN MEMBER M USING (MEMBER_NO)
			LEFT JOIN (
				SELECT 
					RCP_NO,
					COUNT(*) AS SCRAP_COUNT
				FROM SCRAP_RECIPE
				GROUP BY RCP_NO
			) S ON R.RCP_NO = S.RCP_NO
			WHERE R.STATUS = 'Y'
				<if test='content != null and content != ""'>
	     			AND R.RCP_TITLE ILIKE '%' || #{content} || '%'
	     			OR R.RCP_CONTENT ILIKE '%' || #{content} || '%'
	     		</if>
	     		<if test='category == "한식"'>
					AND R.COOK_KIND LIKE '한식'	     		
	     		</if>
	     		<if test='category == "중식"'>
					AND R.COOK_KIND LIKE '중식'	     		
	     		</if>
	     		<if test='category == "일식"'>
					AND R.COOK_KIND LIKE '일식'	     		
	     		</if>
	     		<if test='category == "양식"'>
					AND R.COOK_KIND LIKE '양식'	     		
	     		</if>
	     		<if test='category == "디저트"'>
					AND R.COOK_KIND LIKE '디저트'	     		
	     		</if>
	     		<if test='category == "기타"'>
					AND R.COOK_KIND LIKE '기타'	     		
	     		</if>
			<if test='sort == "new"'>
				ORDER BY R.RCP_WRITE_DATE DESC, R.RCP_NO DESC
			</if>
			<if test='sort == "view"'>
				ORDER BY R.RCP_VIEW DESC, R.RCP_NO DESC
			</if>
			<if test='sort == "scrap"'>
				ORDER BY SCRAP_COUNT DESC, R.RCP_NO DESC
			</if>
		) AS SUB
     </select>
     
     <!-- 레시피 조회 -->
     <select id="selectRecipe" resultMap="recipeListDtoResult">
     	SELECT 
			R.RCP_NO,
			R.RCP_TITLE,
			R.RCP_MAIN_PHOTO,
			M.MEMBER_NICKNAME,
			M.MEMBER_PROFILE,
			COALESCE(S.SCRAP_COUNT, 0) AS scrap_count
		FROM RECIPE R
		JOIN MEMBER M USING (MEMBER_NO)
		LEFT JOIN (
			SELECT 
				RCP_NO,
				COUNT(*) AS SCRAP_COUNT
			FROM SCRAP_RECIPE
			GROUP BY RCP_NO
		) S ON R.RCP_NO = S.RCP_NO
		WHERE R.STATUS = 'Y'
			<if test='content != null and content != ""'>
     			AND R.RCP_TITLE ILIKE '%' || #{content} || '%'
     			OR R.RCP_CONTENT ILIKE '%' || #{content} || '%'
     		</if>
     		<if test='category == "한식"'>
				AND R.COOK_KIND LIKE '한식'	     		
     		</if>
     		<if test='category == "중식"'>
				AND R.COOK_KIND LIKE '중식'	     		
     		</if>
     		<if test='category == "일식"'>
				AND R.COOK_KIND LIKE '일식'	     		
     		</if>
     		<if test='category == "양식"'>
				AND R.COOK_KIND LIKE '양식'	     		
     		</if>
     		<if test='category == "디저트"'>
				AND R.COOK_KIND LIKE '디저트'	     		
     		</if>
     		<if test='category == "기타"'>
				AND R.COOK_KIND LIKE '기타'	     		
     		</if>
		<if test='sort == "new"'>
			ORDER BY R.RCP_WRITE_DATE DESC, R.RCP_NO DESC
		</if>
		<if test='sort == "view"'>
			ORDER BY R.RCP_VIEW DESC, R.RCP_NO DESC
		</if>
		<if test='sort == "scrap"'>
			ORDER BY SCRAP_COUNT DESC, R.RCP_NO DESC
		</if>
     </select>
	
     
  </mapper>