<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="productMapper">
  	<!-- 상품 -->
  	<resultMap type="Product" id="productResult">
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="PRODUCT_NAME" property="productName"/>
  		<result column="PRODUCT_BRAND" property="productBrand"/>
  		<result column="NORMAL_PRICE" property="normalPrice"/>
  		<result column="SALE_PRICE" property="salePrice"/>
  		<result column="DISCOUNT" property="discountPercent"/>
  		<result column="MAIN_IMG" property="mainImg"/>
  		<result column="DESCRIPTION" property="description"/>
  		<result column="SHIPMENT_TYPE" property="shipmentType"/>
  		<result column="SHIPMENT_TIME" property="shipmentTime"/>
  		<result column="SHIPPING_PRICE" property="shippingPrice"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<!-- 옵션 -->
  	<resultMap type="ProductDetailOption" id="productDetailOptionResult">
  		<result column="OPTIONS_NAME_NO" property="detailOptionNo"/>
  		<result column="OPTIONS_NAME" property="detailOptionName"/>
  		<result column="MAIN_OPTION" property="mainDetailOption"/>
  		<result column="OPTIONS_NORMAL_PRICE" property="detailOptionOriginPrice"/>
  		<result column="OPTIONS_SALE_PRICE" property="detailOptionSaledPrice"/>
  		<result column="OPTIONS_STOCK" property="detailOptionQuantity"/>
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="STATUS" property="status"/>
  		<collection property="pdForOpt" resultMap="productResult"/>
  	</resultMap>
	
	<!-- 리뷰 -->
	<resultMap type="Review" id="reviewResult">
		<result column="review_no" property="reviewNo"/>
		<result column="review_content" property="reviewContent"/>
		<result column="review_create_date" property="reviewCreateDate"/>
		<result column="rating" property="rating"/>
		<result column="review_photo" property="reviewPhoto"/>
		<result column="review_type" property="reviewType"/>
		<result column="status" property="status"/>
		<result column="rcp_no" property="refRecipeNo"/>
		<result column="pdopt_no" property="refPdOptNo"/>
		<result column="product_no" property="refProductNo"/>
		<result column="member_no" property="refMemberNo"/>
		
		<result column="member_nickname" property="writerNickname"/>
		<result column="member_profile" property="writerProfile"/>
		<result column="options_name" property="refPdOptName"/>
	</resultMap>
	
	<!-- 문의 -->
	<resultMap type="QnA" id="qnaResult">
		<result column="qna_no" property="qnaNo"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_create_date" property="qnaCreateDate"/>
		<result column="qna_type" property="qnaType"/>
		<result column="qna_answer_type" property="qnaAnswerType"/>
		<result column="qna_photo" property="qnaPhoto"/>
		<result column="status" property="status"/>
		<result column="ref_qna_no" property="refQnaNo"/>
		<result column="rcp_no" property="refRecipeNo"/>
		<result column="product_no" property="refProductNo"/>
		<result column="PDOPT_NO" property="refPdoptNo"/>
		<result column="member_no" property="writerNo"/>
	</resultMap>
	
	<!-- 스크랩 DTO -->
	<resultMap type="ScrapBoardDTO" id="scrapBoardDTOResult">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
	</resultMap>
	
    
    <!-- 가장 많이 팔린 상품 조회 -->
    <select id="selectBestSellerList" resultMap="productResult">
    	SELECT
    		PRODUCT_NO,
    		PRODUCT_NAME,
    		PRODUCT_BRAND,
    		NORMAL_PRICE,
    		SALE_PRICE,
    		DISCOUNT,
    		MAIN_IMG
    	FROM PRODUCT
    	WHERE STATUS = 'Y'
    	ORDER BY SCRAP_COUNT DESC, PRODUCT_NO DESC
    	LIMIT 4
    </select>
    
    <!-- 최근 입고된 상품 조회 -->
    <select id="selectRecentProductList" resultMap="productResult">
    	SELECT
    		PRODUCT_NO,
    		PRODUCT_NAME,
    		PRODUCT_BRAND,
    		NORMAL_PRICE,
    		SALE_PRICE,
    		DISCOUNT,
    		MAIN_IMG
    	FROM PRODUCT
    	WHERE STATUS = 'Y'
    	ORDER BY PRODUCT_DATE DESC, PRODUCT_NO DESC
    	LIMIT 4
    </select>
    
    <!-- 
    <select id="selectProductCount" resultType="_int">
    	SELECT COUNT(*)
    	FROM PRODUCT
    	WHERE STATUS = 'Y'
    </select>
     -->
     
     <!-- 상품 번호로 상품 조회 -->
     <select id="selectProductByProductNo" resultMap="productResult">
       SELECT 
     		PRODUCT_NO,
     		CATEGORY,
     		PRODUCT_NAME,
     		PRODUCT_BRAND,
     		NORMAL_PRICE,
     		SALE_PRICE,
     		DISCOUNT,
     		MAIN_IMG,
     		DESCRIPTION,
     		SHIPMENT_TYPE,
     		SHIPMENT_TIME,
     		SHIPPING_PRICE
     	FROM PRODUCT
     	WHERE 
     		PRODUCT_NO = #{productNo} AND
     		STATUS = 'Y'
     </select>
  
     
     <select id="selectProductCount" resultType="_int">	
     	SELECT COUNT(*)
     	FROM (
     		SELECT *
	    	FROM PRODUCT
	    	WHERE STATUS = 'Y'
		    	<if test='content != null and content != ""'>
	     			AND PRODUCT_NAME ILIKE '%' || #{content} || '%'
	     			OR PRODUCT_BRAND ILIKE '%' || #{content} || '%'
	     			OR CATEGORY ILIKE '%' || #{content} || '%'
	     		</if>
	    		<if test='category == "야채"'>
	    			AND CATEGORY LIKE '야채'
	    		</if>
	    		<if test='category == "과일"'>
	    			AND CATEGORY LIKE '과일'
	    		</if>
	    		<if test='category == "어류"'>
	    			AND CATEGORY LIKE '어류'
	    		</if>
	    		<if test='category == "육류"'>
	    			AND CATEGORY LIKE '육류'
	    		</if>
	    		<if test='category == "빵"'>
	    			AND CATEGORY LIKE '빵'
	    		</if>
	    		<if test='category == "면"'>
	    			AND CATEGORY LIKE '면'
	    		</if>
	    		<if test='category == "유제품"'>
	    			AND CATEGORY LIKE '유제품'
	    		</if>
	    	<if test='sort == "new"'>
	    		ORDER BY PRODUCT_DATE DESC, PRODUCT_NO DESC
	    	</if>
	    	<if test='sort == "view"'>
	    		ORDER BY PRODUCT_VIEW DESC, PRODUCT_NO DESC
	    	</if>
	    	<if test='sort == "scrap"'>
	    		ORDER BY SCRAP_COUNT DESC, PRODUCT_NO DESC
	    	</if>
     	)
     </select>
     
     
     <!-- 조회결과 가져오기 -->
     <select id="selectResultProductList" resultMap="productResult">
     	SELECT 
     		PRODUCT_NO,
     		PRODUCT_NAME,
     		PRODUCT_BRAND,
     		NORMAL_PRICE,
     		SALE_PRICE,
     		DISCOUNT,
     		MAIN_IMG
     	FROM PRODUCT
     	WHERE STATUS = 'Y' 
     		<if test='content != null and content != ""'>
     			AND PRODUCT_NAME ILIKE '%' || #{content} || '%'
     			OR PRODUCT_BRAND ILIKE '%' || #{content} || '%'
     			OR CATEGORY ILIKE '%' || #{content} || '%'
     		</if>
	     	<if test='category == "야채"'>
	   			AND CATEGORY LIKE '%야채%'
	   		</if>
	   		<if test='category == "과일"'>
	   			AND CATEGORY LIKE '%과일%'
	   		</if>
	   		<if test='category == "어류"'>
	   			AND CATEGORY LIKE '%어류%'
	   		</if>
	   		<if test='category == "육류"'>
	   			AND CATEGORY LIKE '%육류%'
	   		</if>
	   		<if test='category == "빵"'>
	   			AND CATEGORY LIKE '%빵%'
	   		</if>
	   		<if test='category == "면"'>
	   			AND CATEGORY LIKE '%면%'
	   		</if>
	   		<if test='category == "유제품"'>
	   			AND CATEGORY LIKE '%유제품%'
	   		</if>
	   	<if test='sort == "new"'>
	   		ORDER BY PRODUCT_DATE DESC,PRODUCT_NO DESC
	   	</if>
	   	<if test='sort == "view"'>
	   		ORDER BY PRODUCT_VIEW DESC,PRODUCT_NO DESC
	   	</if>
	   	<if test='sort == "scrap"'>
	   		ORDER BY SCRAP_COUNT DESC,PRODUCT_NO DESC
	   	</if>
     </select>
    
    <!-- =========================== 리뷰 ================================ -->
    <!-- 상품 리뷰 조회 -->
    <select id="selectProductReviewsByPno" resultMap="reviewResult">
    	SELECT
    		review_no,
    		review_content,
    		review_create_date,
    		rating,
    		review_photo,
    		review_type,
    		R.member_no,
    		member_nickname,
    		member_profile,
    		options_name
    	FROM REVIEW R
    	JOIN MEMBER USING (MEMBER_NO)
    	JOIN OPTION_NAME ON pdopt_no = OPTIONS_NAME_NO
    	WHERE
    		R.product_no = #{productNo} and
    		R.status = 'Y'
    </select>
    
    <insert id="insertProductReview">
    insert into review
    (
	    member_no,
	    product_no,
	    pdopt_no,
	    review_type,
	    rating,
	    review_photo,
	    review_content
    )
    values
    (
	    #{refMemberNo},
	    #{refProductNo},
	    #{refPdOptNo},
	    1,
	    #{rating},
	    #{reviewPhoto},
	    #{reviewContent}
    )
    </insert>
    
    <select id="selectReviewCount" resultType="_int">
    	select count(review_no)
    	from review
    	where status = 'Y'
    	  and product_no =#{productNo}
    </select>
    
    <!-- ===================================== 문의 ======================= -->
    <!-- 상품 문의 등록 -->
    <insert id="insertProductQna">
    insert into QNA
    (
     qna_content,
     qna_type,
     qna_answer_type,
     qna_photo,
     product_no,
     member_no,
     pdopt_no
    )
    values
    (
    	#{qnaContent},
    	1,
    	1,
    	#{qnaPhoto},
    	#{refProductNo},
    	#{writerNo},
    	#{refPdoptNo}
    )
    </insert>

    <!-- 상품 문의 조회 -->
    <select id="selectProductQnAsByPno" resultMap="qnaResult">
    	select
			q.qna_no,
			q.qna_content,
			q.qna_create_date,
			q.qna_answer_type,
			q.qna_photo,
			q.ref_qna_no,
			q.product_no,
			q.pdopt_no,
			q.member_no,
			member_nickname as "writerNickname",
			member_profile as "writerProfile",
			a.qna_no as "answerNo",
			a.qna_content as "answerContent",
			a.qna_create_date as "answerCreateDate"
		FROM QNA q
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN QNA a ON q.qna_no = a.ref_qna_no
		LEFT JOIN OPTION_NAME ON q.pdopt_no = options_name_no
		WHERE q.product_no = #{productNo} and
				q.qna_type = 1 and
				q.status = 'Y'
		ORDER BY qna_create_date ASC
    </select>
   
	<!-- 상품 전체 개수 조회 -->
	<select id="selectAllProductQuantity" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<!-- 상품 옵션 조회 -->
	<select id="selectProductOptsByPno" resultMap="productDetailOptionResult">
		select
			o.options_name_no,
			o.options_name,
			o.main_option,
			o.options_normal_price,
			o.options_sale_price,
			o.options_stock,
			o.product_no,
			p.seller,
			p.product_name,
			p.product_brand,
			p.main_img,
			p.shipment_type
		from option_name o
		left join product p on (o.product_no = p.product_no) 
		where o.product_no = #{productNo} and
			  o.status = 'Y'
	</select>
    
	<select id="selectQnasCount" resultType="_int">
		select count(qna_no)
		from QNA
		where status = 'Y'
		and product_no = #{productNo}
	</select>
	
	<!-- 상품 조회수 증가 쿼리 -->
	<update id="increaseProductViews" parameterType="_int">
		UPDATE PRODUCT
		SET PRODUCT_VIEW = PRODUCT_VIEW + 1
		WHERE PRODUCT_NO = #{productNo}
	</update>
  
  	<select id="existScrapProduct" parameterType="ScrapBoardDTO" resultType="_int">
  		SELECT COUNT(*)
  		FROM SCRAP_PRODUCT
  		WHERE 
  			PRODUCT_NO = #{productNo}
  			AND MEMBER_NO = #{memberNo}
  	</select>
  	
  	<insert id="insertScrapProduct" parameterType="ScrapBoardDTO">
  		INSERT INTO SCRAP_PRODUCT (
  			PRODUCT_NO,
  			MEMBER_NO
  		) VALUES (
  			#{productNo},
  			#{memberNo}
  		)
  	</insert>
  	
  	<update id="increaseScrapCount" parameterType="ScrapBoardDTO">
  		UPDATE PRODUCT
  		SET SCRAP_COUNT = SCRAP_COUNT + 1
  		WHERE PRODUCT_NO = #{productNo}
  	</update>
  	
  	<delete id="deleteScrapProduct" parameterType="ScrapBoardDTO">
  		DELETE FROM SCRAP_PRODUCT
  		WHERE PRODUCT_NO = #{productNo} AND MEMBER_NO = #{memberNo}
  	</delete>
  	
  	<update id="decreaseScrapCount" parameterType="ScrapBoardDTO">
  		UPDATE PRODUCT
  		SET SCRAP_COUNT = SCRAP_COUNT - 1
  		WHERE PRODUCT_NO = #{productNo}
  	</update>
  	
  	
  
  </mapper>