<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="recipeMapper">
  	<!-- 레시피 -->
  	<resultMap type="Recipe" id="recipeResult">
  		<result column="RCP_NO" property="recipeNo"/>
  		<result column="RCP_TITLE" property="recipeTitle"/>
  		<result column="RCP_CONTENT" property="recipeContent"/>
  		<result column="RCP_VIDEO" property="recipeVideo"/>
  		<result column="RCP_MAIN_PHOTO" property="recipeMainPhoto"/>
  		<result column="RCP_VIEW" property ="recipeView"/>
  		<result column="RCP_TAG" property="recipeTag"/>
  		<result column="RCP_WRITE_DATE" property="recipeWriteDate"/>
  		<result column="COOK_AMOUNT" property="cookAmount"/>
  		<result column="COOK_TIME" property="cookTime"/>
  		<result column="COOK_KIND" property="cookKind"/>
  		<result column="COOK_LEVEL" property="cookLevel"/>
  		<result column="STATUS" property="status"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  	</resultMap>
  	
  	<!-- 재료 분류 -->
  	<resultMap type="Division" id="DivisionResult">
  		<result column="DIV_NO" property="divNo"/>
  		<result column="DIV_NAME" property="divName"/>
  		<result column="STATUS" property="status"/>
  		<result column="RCP_NO" property="recipeNo"/>
  	</resultMap>
  	
  	<!-- 재료 정보 -->
  	 <resultMap type="IngredientsInfo" id="ingredientsInfoResult">
  		<result column="INGRE_NO" property="ingreNo"/>
  		<result column="INGRE_NAME" property="ingreName"/>
  		<result column="INGRE_AMOUNT" property="ingreAmount"/>
  		<result column="INGRE_UNIT" property="ingreUnit"/>
  		<result column="STATUS" property="status"/>
  		<result column="DIV_NO" property="divNo"/>
  	</resultMap>
  	
  	<!-- 조리 순서 -->
  	 <resultMap type="CookOrder" id="CookOrderResult">
  		<result column="COOK_ORD_NO" property="cookOrdNo"/>
  		<result column="COOK_ORD_CONTENT" property="cookOrdContent"/>
  		<result column="COOK_ORD_PHOTO" property="cookOrdPhoto"/>
  		<result column="STATUS" property="status"/>
  		<result column="RCP_NO" property="recipeNo"/>
  	</resultMap>
  	
  	<!-- 요리추가 팁 -->
  	 <resultMap type="CookTip" id="CookTipResult">
  		<result column="COOK_TIP_NO" property="cookTipNo"/>
  		<result column="COOK_TIP_CONTENT" property="cookTipContent"/>
  		<result column="STATUS" property="status"/>
  		<result column="COOK_ORD_NO" property="cookOrdNo"/>
  
  	</resultMap>
  <!-- 회원 정보 -->
  <resultMap type="Member" id="memberResult">
    <result column="MEMBER_NO" property="memberNo"/>
    <result column="MEMBER_EMAIL" property="memberEmail"/>
    <result column="MEMBER_PWD" property="memberPwd"/>
    <result column="MEMBER_NICKNAME" property="nickname"/>
    <result column="MEMBER_PHONE" property="memberPhone"/>
    <result column="MEMBER_GENDER" property="gender"/>
    <result column="MEMBER_ADDRESS" property="memberAddress"/>
    <result column="MEMBER_BIRTH" property="birth"/>
    <result column="MEMBER_PROFILE" property="profile"/>
    <result column="MEMBER_GRADE" property="grade"/>
    <result column="MEMBER_ENROLL_DATE" property="memberEnrollDate"/>
    <result column="MEMBER_MODIFY_DATE" property="memberModifyDate"/>
    <result column="MEMBER_STATUS" property="memberStatus"/>
    <result column="ALARM_STATUS" property="alarm"/>
    <result column="LOGIN_SIGN_PATH" property="loginPath"/>
  </resultMap>
  	
  	<!-- 리뷰 -->
	<resultMap type="Review" id="reviewResult">
		<result column="review_no" property="reviewNo"/>
		<result column="review_content" property="reviewContent"/>
		<result column="review_create_date" property="reviewCreateDate"/>
		<result column="rating" property="rating"/>
		<result column="review_photo" property="reviewPhoto"/>
		<result column="review_type" property="reviewType"/>
		<result column="status" property="status"/>
		<result column="rcp_no" property="refRecipeNo"/>
		<result column="pdopt_no" property="refPdOptNo"/>
		<result column="product_no" property="refProductNo"/>
		<result column="member_no" property="refMemberNo"/>
		<result column="member_nickname" property="writerNickname"/>
		<result column="member_profile" property="writerProfile"/>
		<result column="options_name" property="refPdOptName"/>
	</resultMap>
	
	<!-- 문의 -->
	<resultMap type="QnA" id="qnaResult">
		<result column="qna_no" property="qnaNo"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_create_date" property="qnaCreateDate"/>
		<result column="qna_type" property="qnaType"/>
		<result column="qna_answer_type" property="qnaAnswerType"/>
		<result column="qna_photo" property="qnaPhoto"/>
		<result column="status" property="status"/>
		<result column="ref_qna_no" property="refQnaNo"/>
		<result column="rcp_no" property="refRecipeNo"/>
		<result column="product_no" property="refProductNo"/>
		<result column="PDOPT_NO" property="refPdoptNo"/>
		<result column="member_no" property="writerNo"/>
		<result column="ref_rcp_no" property="refRecipeNo"/>
	</resultMap>
  	
  	
  	 	<!-- 상품 -->
  	<resultMap type="Product" id="productResult">
  		<result column="PRODUCT_NO" property="productNo"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="PRODUCT_NAME" property="productName"/>
  		<result column="PRODUCT_BRAND" property="productBrand"/>
  		<result column="NORMAL_PRICE" property="normalPrice"/>
  		<result column="SALE_PRICE" property="salePrice"/>
  		<result column="DISCOUNT" property="discountPercent"/>
  		<result column="MAIN_IMG" property="mainImg"/>
  		<result column="DESCRIPTION" property="description"/>
  		<result column="SHIPMENT_TYPE" property="shipmentType"/>
  		<result column="SHIPMENT_TIME" property="shipmentTime"/>
  		<result column="SHIPPING_PRICE" property="shippingPrice"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	
  	
	 <!-- 레시피 찾기 -->
	 <select id="selectRecipe" resultMap="recipeResult">
	   SELECT rcp_no,
	         rcp_title,
	         rcp_content, 
	         rcp_video,
	         rcp_main_photo, 
	         rcp_tag,
	         cook_amount, 
	         cook_time, 
	         cook_kind, 
	         cook_level, 
	         rcp_view,
	         member_no
	  FROM RECIPE
	  WHERE STATUS = 'Y'
	    AND rcp_no = #{rcpNo}
	 </select>
  	
  	
  	 <!-- 레시피 분류 찾기 -->
  	 <select id="selectDivList" resultMap="DivisionResult">
  	 	SELECT D.*
  	 	FROM  DIVISION D
  	 	JOIN RECIPE R ON D.rcp_no = R.rcp_no
  	 	WHERE D.status= 'Y'
  	 	AND D.rcp_no = ${rcp_no}
  	 </select>
  	
 
  	
  	
  	
  	<!-- 레시피 재료 찾기 -->
  	<select id="selectIngredientsInfoList" resultMap="ingredientsInfoResult">
  		SELECT I.*
  		FROM INGREDIENTS_INFO I
  		JOIN DIVISION D ON I.div_no = d.div_no 
  		WHERE I.status = 'Y'
  		AND D.div_no = ${div_no}
  	</select>
  	
  	 <!-- 레시피 조리순서 찾기 -->
  	 <select id="selectCookOrderList" resultMap="CookOrderResult">
  	 	SELECT CO.*
  	 	FROM  COOK_ORDER CO
  	 	JOIN RECIPE R ON CO.rcp_no = R.rcp_no
  	 	WHERE CO.status= 'Y'
  	 	AND CO.rcp_no = ${rcp_no}
  	 </select>
  	
  	 <!-- 레시피 팁 찾기 -->
  	 <select id="selectCookTipList" resultMap="CookTipResult">
  	 	SELECT CT.*
  	 	FROM  COOK_TIP CT
  	 	JOIN COOK_ORDER CO ON CT.cook_ord_no = CO.cook_ord_no
  	 	WHERE CT.status= 'Y'
  	 	AND CT.cook_ord_no = ${cook_ord_no}
  	 </select>
  	
  	<!-- 레시피 리뷰 찾기 -->

  	 <select id="selectRecipeReviewList" resultMap="reviewResult">
  		SELECT RV.review_content,
  			 RV.review_create_date,
  			 RV.rating,
  			 RV.review_photo,
  			 RV.review_type,
  			 RV.member_no,
  			 M.member_nickname,
  			 RV.rcp_no,
  			 M.member_profile
  		FROM REVIEW RV
  		JOIN RECIPE R ON RV.rcp_no = R.rcp_no
  		JOIN MEMBER M ON RV.member_no = M.member_no
  		WHERE RV.status ='Y'
  		AND RV.review_type='2'
  		ORDER BY RV.review_no DESC
  	</select>	
  	
  	<!-- 레시피 qna 찾기  -->
  	<select id="selectRecipeQnaList" resultMap="qnaResult">
  		select
			q.qna_no,
			q.qna_content,
			q.qna_create_date,
			q.qna_answer_type,
			q.qna_photo,
			q.ref_qna_no,
			q.rcp_no,
			q.pdopt_no,
			q.member_no,
			member_nickname as "writerNickname",
			member_profile as "writerProfile",
			a.qna_no as "answerNo",
			a.qna_content as "answerContent",
			a.qna_create_date as "answerCreateDate"
		FROM QNA q
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN QNA a ON q.qna_no = a.ref_qna_no
		WHERE q.rcp_no = #{recipeNo} and
				q.qna_type = 2 and
				q.status = 'Y'
		ORDER BY qna_create_date ASC
  	</select>	
  	
  	
  	
  	<!--  레시피 리뷰 길이 찾ㄱㅣ -->
  	<select id="selectRecipeReviewCount" resultType="_int">
  	SELECT count(review_no)
    	FROM REVIEW
    	WHERE status = 'Y'
    AND rcp_no =#{recipeNo}
  	</select>
  	
  	  	<!--  레시피 qna 길이 찾ㄱㅣ -->
  	<select id="selectRecipeQnaCount" resultType="_int">
  	SELECT count(qna_no)
    	FROM QNA
    	WHERE status = 'Y'
    AND rcp_no =#{rcpNo}
    AND qna_type=2
    AND qna_answer_type=1
  	</select>
  	
  	  	<!--  레시피 상품길이  -->
  	<select id="selectProductList" resultMap="productResult">
	  	SELECT 
	  		product_no,
	  		product_name,
	  		product_brand,
	  		normal_price,
	  		sale_price,
	  		discount,
	  		main_img
	   	FROM PRODUCT
	   	WHERE status = 'Y'
	    AND product_name LIKE CONCAT('%', #{ingreName}, '%')
	    LIMIT 1
  	</select>
  	
  		  	<!--  레시피 상품길이  -->
  	<select id="selectProductListRandom" resultMap="productResult">
	  	SELECT 
	  		product_no,
	  		product_name,
	  		product_brand,
	  		normal_price,
	  		sale_price,
	  		discount,
	  		main_img
	   	FROM PRODUCT
	   	WHERE status = 'Y'
	   	ORDER BY RANDOM()
		LIMIT 1
  	</select>
  	
  	
  
  	 <!-- 레시피 게시글 추가 -->
  	 <select id="insertRecipe" parameterType="Recipe" resultMap="recipeResult" >
	  	INSERT INTO RECIPE (
		        rcp_title,
				rcp_content, 
				rcp_main_photo,
				rcp_video, 
				rcp_tag,
				cook_amount, 
				cook_time, 
				cook_kind, 
				cook_level, 
				member_no
			) 
			VALUES (
		        #{recipeTitle},
		        #{recipeContent},
		        #{recipeMainPhoto},
		        #{recipeVideo},
		        #{recipeTag},
		        #{cookAmount},
		        #{cookTime},
		        #{cookKind},
		        #{cookLevel},
				#{memberNo}
	    )
	     RETURNING *
	</select>
    
  	<!-- 레시피 분류 추가 -->
	<select id="insertDivision" parameterType="Division" resultMap="DivisionResult">
		INSERT INTO DIVISION (
			div_name,
			rcp_no
		) VALUES(
			#{divName},
			#{recipeNo}
		) 	
		RETURNING *		
	</select>
  	
  	<!-- 레시피 재료 추가 -->
  	<insert id="insertIngredientsInfo" parameterType="IngredientsInfo">
  		INSERT INTO INGREDIENTS_INFO(
  			ingre_name,
  			ingre_amount,
  			ingre_unit,
  			div_no
  		) VALUES(
  			#{ingreName},
  			#{ingreAmount},
  			#{ingreUnit},
  			#{divNo}
  		)
  	</insert>
  	
  	
  	<!-- 레시피 순서 추가 -->
	<select id="insertCookOrder" parameterType="CookOrder" resultMap="CookOrderResult">
		INSERT INTO COOK_ORDER (
			cook_ord_content,
			cook_ord_photo,
			rcp_no
			
		) VALUES(
			#{cookOrdContent},
			#{cookOrdPhoto},
			#{recipeNo}
		) 	
		RETURNING *		
	</select>
	
	<!-- 레시피 팁 추가 -->
  	<insert id="insertCookTip" parameterType="CookTip">
  		INSERT INTO COOK_TIP(
  			cook_tip_content,
  			cook_ord_no
  		) VALUES(
  			#{cookTipContent},
  			#{cookOrdNo}
  		)
  	</insert>
  	
  	
	<!-- 레시피 리뷰 추가 -->
  	<insert id="insertReview" parameterType="Review">
    INSERT INTO review (
        review_content,
        rating,
        review_photo,
        review_type,
        rcp_no,
        member_no
    ) VALUES (
        #{reviewContent},
        #{rating},
        #{reviewPhoto},
        2,
        #{refRecipeNo},
        #{refMemberNo}
    )
	</insert>
  	
  	<!-- 레시피 문의 추가 -->
    <insert id="insertQnA" parameterType="QnA">
    insert into QNA
    (
     qna_content,
     qna_type,
     qna_answer_type,
     qna_photo,
     rcp_no,
     member_no
    )
    values
    (
    	#{qnaContent},
    	2,
    	1,
    	#{qnaPhoto},
    	#{refRecipeNo},
    	#{writerNo}
    )
    </insert> 
  	
  	
  	
  	<select id="selectRecipeMember" parameterType="Recipe" resultMap="memberResult">
  		SELECT 
    		M.MEMBER_NO,
    	   M.MEMBER_EMAIL,
          M.MEMBER_PWD,
           M.MEMBER_NICKNAME,
           M.MEMBER_PHONE,
           M.MEMBER_GENDER,
           M.MEMBER_ADDRESS,
           M.MEMBER_BIRTH,
           M.MEMBER_PROFILE,
           M.MEMBER_GRADE,
           M.MEMBER_ENROLL_DATE,
           M.MEMBER_MODIFY_DATE,
           M.MEMBER_STATUS,
           M.ALARM_STATUS,
           M.LOGIN_SIGN_PATH
      FROM RECIPE R
      JOIN MEMBER M ON M.member_no = R.member_no
     WHERE R.rcp_no = #{recipeNo}
       AND M.MEMBER_STATUS = 'Y'
  	</select>
  	
<!-- **********  수정     *********-->
  	<!-- 레시피 수정 -->
	<update id="updateRecipe"  parameterType="Recipe">
	  UPDATE RECIPE 
	  SET
	        rcp_title = #{recipeTitle},
	        rcp_content = #{recipeContent},
	        rcp_main_photo = #{recipeMainPhoto},
	        rcp_video = #{recipeVideo},
	        rcp_tag = #{recipeTag},
	        cook_amount = #{cookAmount},
	        cook_time = #{cookTime},
	        cook_kind = #{cookKind},
	        cook_level = #{cookLevel},
	        member_no = #{memberNo}
	    WHERE
        rcp_no = #{recipeNo}
	</update>

	<!-- 분류 수정 -->
	<update id="updateDivision" parameterType="Division">
	    UPDATE DIVISION
	    SET
	        div_name = #{divName},
	        status ='Y'
	    WHERE
	        rcp_no = #{recipeNo}
	        AND div_no = #{divNo}
	</update>
	
	<!-- 재료 수정 -->
	<update id="updateIngredients" parameterType="IngredientsInfo">
    UPDATE INGREDIENTS_INFO
    SET
        ingre_name = #{ingreName},
        ingre_amount = #{ingreAmount},
        ingre_unit = #{ingreUnit},
        status ='Y'
    WHERE
        div_no = #{divNo}
        AND div_no IN (
            SELECT div_no
            FROM DIVISION
            WHERE status = 'Y' 
        )
	</update>
	
	<!-- 조리 순서 수정 -->
	<update id="updateCookOrder" parameterType="CookOrder">
	    UPDATE COOK_ORDER
	    SET
	        cook_ord_content = #{cookOrdContent},
	        cook_ord_photo = #{cookOrdPhoto}
	    WHERE
	        rcp_no = #{rcpNo}
	        AND status = 'Y'
	</update>
	
	<!-- 팁 수정 -->
	<update id="updateCooktip" parameterType="CookTip">
	    UPDATE COOK_TIP
	    SET
	        cook_tip_content = #{cookTipContent}
	    WHERE
	        cook_ord_no = #{cookOrdNo}
	        AND cook_ord_no IN (
	            SELECT cook_ord_no
	            FROM COOK_ORDER
	            WHERE status = 'Y' 
	        )
	        AND status = 'Y' 
	</update>
  	
  	
  	
  <!--***************  길이    ****************-->	
  <!-- 분류 길이(개수) -->
<select id="selectfindDivLen" resultType="int">
    SELECT COUNT(*) 
    FROM DIVISION 
    WHERE rcp_no = #{recipeNo}
    AND status = 'Y'
</select>

<!-- 재료 길이 -->
<select id="selectfindIngreLen" resultType="int">
    SELECT COUNT(*) 
    FROM INGREDIENTS_INFO
    WHERE div_no = #{divNo}
    AND status = 'Y'
</select>

<!-- 조리순서 길이 -->
<select id="selectfindCoLen" resultType="int">
    SELECT COUNT(*) 
    FROM cook_order
    WHERE rcp_no = #{recipeNo}
    AND status = 'Y'
</select>

<!-- 팁 길이 -->
<select id="selectfindCtLen" resultType="int">
    SELECT COUNT(*) 
    FROM cook_tip
    WHERE cook_ord_no = #{cookOrdNo}
    AND status = 'Y'
</select>
  	
  <!--***************  삭제(업데이트)  ****************-->	
 
  
 <update id="deleteRecipe" parameterType="Recipe">
 	UPDATE RECIPE
 	SET
 		 rcp_title =NULL,
         rcp_content =NULL, 
         rcp_video =NULL,
         rcp_main_photo =NULL, 
         rcp_tag =NULL,
         cook_amount =NULL, 
         cook_time =NULL, 
         cook_kind =NULL, 
         cook_level =NULL
 	WHERE rcp_no = #{recipeNo}
 </update>
 
<delete id="deleteIngre" parameterType="IngredientsInfo">
    DELETE FROM INGREDIENTS_INFO
    WHERE ingre_no = #{ingreNo}
</delete>

<delete id="deleteDivision" parameterType="Division">
    DELETE FROM DIVISION
    WHERE div_no = #{divNo}
    AND rcp_no = #{recipeNo};
</delete>

<delete id="deleteCookOrder" parameterType="CookOrder">
	DELETE FROM COOK_ORDER
	WHERE rcp_no=#{recipeNo}
	AND cook_ord_no =#{cookOrdNo};
	
</delete>
<delete id="deleteCookTip" parameterType="CookTip">
    DELETE FROM COOK_TIP
    WHERE cook_tip_no = #{cookTipNo}
</delete>

 </mapper>