<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="searchMapper">
	<!-- 게시글 검색 DTO -->  	
	<resultMap type="SearchBoardDTO" id="searchBoardDTOResult">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_THUMBNAIL" property="boardThumbnail"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="MEMBER_PROFILE" property="memberProfileImg"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>
		<result column="SCRAP_COUNT" property="scrapCount"/>
		<result column="BOARD_VIEWS" property="viewCount"/>
		<result column="LIKE_COUNT" property="likeCount"/>
	</resultMap>

	<!-- 상품 검색 DTO -->
	<resultMap type="SearchProductDTO" id="searchProductDTOResult">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRODUCT_BRAND" property="productBrand"/>
		<result column="MAIN_IMG" property="productImg"/>
		<result column="NORMAL_PRICE" property="normalPrice"/>
		<result column="SALE_PRICE" property="salePrice"/>
		<result column="DISCOUNT" property="discount"/>
	</resultMap>
	
	<!-- 레시피 검색 DTO -->
	<resultMap type="SearchRecipeDTO" id="searchRecipeDTOResult">
		<result column="RCP_NO" property="recipeNo"/>
		<result column="RCP_MAIN_PHOTO" property="recipeImg"/>
		<result column="RCP_TITLE" property="recipeTitle"/>
		<result column="MEMBER_NICKNAME" property="recipeWriter"/>
		<result column="MEMBER_PROFILE" property="recipeWriterProfileImg"/>
		<result column="SCRAP_COUNT" property="scrapCount"/>
	</resultMap>
	
	<!-- 게시글 검색 결과 조회 -->
	<select id="selectSearchBoard" resultMap="searchBoardDTOResult">
		SELECT 
			B.BOARD_NO,
			B.BOARD_THUMBNAIL,
			B.BOARD_TITLE,
			B.BOARD_VIEWS,
			M.MEMBER_PROFILE,
			M.MEMBER_NICKNAME,
			COALESCE(l.like_count, 0) AS LIKE_COUNT,
			COALESCE(s.scrap_count, 0) AS SCRAP_COUNT
		FROM BOARD B
		JOIN MEMBER M USING (MEMBER_NO)
		LEFT JOIN (
			SELECT 
				board_no,
				COUNT(*) AS like_count
			FROM 
				public.like_board
			GROUP BY 
				board_no
		) l ON b.board_no = l.board_no
		LEFT JOIN (
			SELECT 
				board_no,
				COUNT(*) AS scrap_count
			FROM 
				public.scrap_board
			GROUP BY 
				board_no
		) s ON b.board_no = s.board_no
		WHERE 
			B.STATUS = 'Y'
			<if test='content != "*"'>
				AND B.BOARD_TITLE LIKE '%'|| #{content} ||'%'
				OR B.BOARD_CONTENT LIKE '%'|| #{content} ||'%'
			</if>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<!-- 상품 검색 결과 조회 -->
	<select id="selectSearchProduct" resultMap="searchProductDTOResult">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_BRAND,
			MAIN_IMG,
			NORMAL_PRICE,
			SALE_PRICE,
			DISCOUNT
		FROM PRODUCT P
		WHERE
			P.STATUS = 'Y'
			<if test='content != "*"'>
				AND PRODUCT_NAME ILIKE '%' || #{content} || '%'
				OR PRODUCT_BRAND ILIKE '%' || #{content} || '%'
				OR CATEGORY ILIKE '%' || #{content} || '%'
			</if>
			
		ORDER BY PRODUCT_NO DESC
	</select>
  	
  	<!-- 레시피 검색 결과 조회 -->
  	<select id="selectSearchRecipe" resultMap="searchRecipeDTOResult">
		SELECT 
			R.RCP_NO,
			R.RCP_TITLE,
			R.RCP_MAIN_PHOTO,
			M.MEMBER_NICKNAME,
			M.MEMBER_PROFILE,
			COALESCE(S.SCRAP_COUNT, 0) AS scrap_count
		FROM RECIPE R
		JOIN MEMBER M USING (MEMBER_NO)
		LEFT JOIN (
			SELECT 
				RCP_NO,
				COUNT(*) AS SCRAP_COUNT
			FROM SCRAP_RECIPE
			GROUP BY RCP_NO
		) S ON R.RCP_NO = S.RCP_NO
		WHERE R.STATUS = 'Y'
			<if test='content != "*"'>
				AND R.RCP_TITLE ILIKE '%' || #{content} || '%'
				OR R.RCP_CONTENT ILIKE '%' || #{content} || '%'
			</if>
		ORDER BY R.RCP_NO DESC
  	</select>
  </mapper>