@charset "UTF-8";
 /* a태그 부모상속 */
a {
    color: inherit;
}

body {
    padding-top: 170px;
}

/* body전체 영역 */
#body-area {
    margin: 80px 340px;
    display: flex;
}

/* 왼쪽 body영역 */
#left-body-area {
    width: 210px;
    margin-right: 105px;
}
/* 오른쪽 body영역 */
#right-body-area {
    width: 925px;
}


    /* -------------------구매내역------------------ */
    #myPage-buy-list-top{
        font-size: 20px;
        font-weight:bold;
        height: 26px;
        align-content: center;
        margin-bottom: 16px;
    }

    #myPage-buy-list-bottom{
        border: 1px solid #E6E6E6;
        margin: 16px 0px;
        padding: 16px;
    }

    #myPage-buy-list-bottom table{
        width: 100%;
    }

    #myPage-buy-list-bottom thead tr{
        font-size: 16px;
        font-weight: 500;
        color: #6D6D6D;    
    }
    #myPage-buy-list-bottom thead tr td{
        padding-bottom: 7px;
    }
    #head-name{
        width: 340px;
    }

    #head-amount{
        width: 85px;
        text-align: center;
    }

    #head-price{
        width: 120px;
        text-align: center;
    }

    #head-buyDate{
        width: 150px;
        text-align: center;
    }

    #head-status{
        width: 188px;
        padding-left: 20px;
    }

    .tbody-td-amount{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .tbody-td-price{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .tbody-td-buyDate{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .tbody-td-status{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        width: 70px;
    }

    .status-font{
        font-size: 11px;
        color: #B4B3B3;
    }

    .tbody-td-btn{
        display: flex;
        height: 77px;
        flex-direction: column; 
        text-align: center;
        padding-top: 10px;
        /* align-content: center; */
    }
    .tbody-td-img{
        width: 100px;
    }

    .tbody-td-btn{
        gap:3px
    }

    .tbody-td-btn button{
        border: 1px solid;
        width: 75px;
        height: 23px;
        margin: auto;
        font-size: 12px;
    }

    .tbody-td-btn-qna{
        border: 1px solid #4D99F2;
        color:#4D99F2;
    }
    .tbody-td-btn-write{
        border: 1px solid #858688;
        color:#858688;
    }
    .tbody-td-btn-cancle{
        border: 1px solid #F20606;
        color:#F20606;
    }

    .product-no{
        color: #4B76E2;
        font-size: 11px;
        font-weight: bold;
    }
    .product-brand-name{
        font-size: 11px;
        font-weight: bold;
    }

    .tbody-td-name{
        vertical-align : top;
    }
    table{
        border-spacing: 0 12px;
    }

