@charset "UTF-8";
   /* a태그 부모상속 */
a {
    color: inherit;
}

body {
    padding-top: 170px;
}

/* body전체 영역 */
#body-area {
    justify-content: center;
    height: 1150px;
    margin: 80px 340px;
    display: flex;
    margin-bottom: 200px;
}

/* 왼쪽 body영역 */
#left-body-area {
    width: 210px;
    margin-right: 105px;
}
/* 오른쪽 body영역 */
#right-body-area {
    width: 925px;
    /* margin-bottom: 50px; */
}

    #reply-container,#review-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .container-top {
        display: flex;
        justify-content: space-between;
    }

    .container-top-title{
        font-weight: bold;
        font-size: 20px;
    }

    .container-top-more{
        font-size: 16px;
        color:#999999;
    }

    .content-area{
        border: 1px solid #e6e6e6;
        padding: 16px;
    }

    #reply-area-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .content-area-title{
        width: 320px;
    }

    .content-area-comment{
        width: 280px;
        font-size: 18px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    .content-area-date{
        width: 280px;
        font-size: 18px;
    }

    .cl-6d{
        color: #6D6D6D ;
    }

    .contents-area-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contents-area-content:hover{
        cursor: pointer;
        background-color: aliceblue;
    }

    .content-img {
        width: 80px;
        height: 80px;
    }

    .contents-area-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    /* 페이징 바 */

  .pagination-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 392px;
  }
  
  .pagination > a {
    font-size: 14px;
    color : #6D6D6D;
  }
