@charset "UTF-8";
    /* a태그 부모상속 */
a {
    color: inherit;
}

body {
    padding-top: 170px;
}

/* body전체 영역 */
#body-area {
    justify-content: center;
    align-items: flex-start;
    margin: 80px 340px;
    display: flex;
}

/* 왼쪽 body영역 */
#left-body-area {
    width: 210px;
    margin-right: 105px;
}
/* 오른쪽 body영역 */
#right-body-area {
    width: 925px;
}

    #product-qna-container,#recipe-qna-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .container-top {
        display: flex;
        justify-content: space-between;
    }

    .container-top-title{
        font-weight: bold;
        font-size: 20px;
    }

    .container-top-more{
        font-size: 16px;
        color:#999999;
    }

    .content-area{
        border: 1px solid #e6e6e6;
        padding: 16px;
    }

    #product-area-top, #recipe-area-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
        gap: 20px;
    }

    .content-area-title{
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start ;
        align-items: center;
        gap: 10px;
    }

    .content-area-comment{
        width: 150px;
        font-size: 18px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    .content-area-date{
        width: 100px;
        font-size: 18px;
    }
    .content-area-answer{
        width: 100px;
    }

    .cl-6d{
        color: #6D6D6D ;
    }

    .product-area-content, .recipe-area-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-info:hover, .recipe-title:hover {
        cursor: pointer;
    }


    .content-img {
        width: 80px;
        height: 80px;
    }

    .contents-area-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    /* 페이징 바 */

  .pagination-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 392px;
  }
  
  .pagination > a {
    font-size: 14px;
    color : #6D6D6D;
  }

.product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-qna-brand {
    color: #4B76E2;
    font-weight: bold;
}

.content-area-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.cl-red {
    color: red;
}

.cl-red:hover {
    cursor: pointer;
}