@charset "UTF-8";
/* a태그 부모상속 */
a {
    color: inherit;
}

body {
    padding-top: 170px;
}

/* body전체 영역 */
#body-area {
    height: 1150px;
    margin: 80px 340px;
    display: flex;
}

/* 왼쪽 body영역 */
#left-body-area {
    width: 210px;
    margin-right: 105px;
}
/* 오른쪽 body영역 */
#right-body-area {
    width: 925px;
    height: 1150px;
}

/* ------------------------------------- */
/* 추천레시피 전체 영역 */
#recommend-recipe-area {
    margin-bottom: 60px;
}

/* 추천레시피 제목영역 */
#right-recommend-recipe-title-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* 추천 레시피 텍스트 설정 */
#recommend-recipe-texthead {
    font-size: 20px;
    font-weight: bold;
}



/* 추천레시피 이미지 영역 */
#recommend-recipe-imgs {
    height: 240px;
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

/*나의 냉장고 전체영역  내부 간격주기(테이블) */
#myRefrigerator-igre-table-area {
    padding: 16px;
}

/* 나의 냉장고 제목 영역 */
#myRefrigerator-text-title-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

}

/* 나의 냉장고 텍스트 설정 */
#myRefrigerator-texthead {
    font-size: 20px;
    font-weight: bold;
}

/* '+ 추가하기' 모달버튼 텍스트설정 */
#myRefrigerator-modal-btn {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
    padding-top: 3px;
}


/* thead 텍스트설정 */
#myRefrigerator-tb td {
    text-align: center;
    padding-bottom: 16px;
}

/* 나의 냉장고 식재료 영역 */
#myRefrigerator-igre-area {
    border: 1px solid #E6E6E6;
}

/* 나의 냉장고 식재료내역 테이블 크기 설정 */
#myRefrigerator-igre-area table {
    width: 100%;
}

/* 테이블 텍스트 헤드 색상설정 (상품/신선도/...등) */
thead td {
    color: #6D6D6D;
    font-weight: 400;
}

/* 텍스트 굵기설정 */
tbody td {
    font-weight: bold;
}

/* 테이블 내부 글씨 위치설정 */
tbody td:not(:first-child ) {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* 마지막 td의 글씨 색을 회색으로 지정 */
.myRefrigerator-last-td {
    color: #999999;
    font-weight: 300;
}

/* 삭제 호버시 글자색 변경 */
.myRefrigerator-last-td:hover {
    color: red;
    font-weight: 300;
}

/* 식재료 이미지와 식재료명 간격주기 */
td img {
    margin-right: 5px;
}

/* 신선도 영역*/
.flesh-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 7px;

}

/* 신선도 상태 표시설정 */
.flesh-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* 상품 열의 너비를 설정 */
.myRefrigerator-tr {
    width: 300px; 
}

/* "소비기한"  너비 크기설정 */
td:nth-child(3) {
    width: 120px;
}
/* "냉장고 입고날짜" 너비 크기설정 */
td:nth-child(4) {
   width: 120px;
}

/* "삭제" 너비 크기설정 */
.myRefrigerator-last-td {
    width: 80px; 
    text-align: right;
    padding-left: 35px;
}

/* 직접레시피 찾기 모달창--------------------------------- */

/* '직접레시피 찾기' 모달버튼 텍스트 설정 */
#viewModalBtn {
    border: white;
    background-color: white;
    color: #2849F8;
    font-size: 16px;
    font-weight: bold;
}


/* 모달 스타일 */
.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* 모달 콘텐츠 스타일 */
  #modal-content-recipe-find {
    background-color: #fefefe;
    margin: 10% auto; /* 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 370px;
    height: 700px;
  }
  
  /* 모달 닫기 버튼 스타일 */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* 레시피 찾기 */
#modal-title-header{
    /* border: 1px solid; */
    height: 40px;
    width: 140px;
    margin-top: 20px;
    margin-left: 95px;
    margin-right: 95px;
    font-size:25px;
    text-align: center;
    margin-bottom: 20px;
}

/* 검색창 */
#modal-search-igre{
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    width: 320px;
    height: 30px; 
    display: flex;
    font-size:12px ;
    color:#ABABAB ;
    padding-right: 6px;
    margin-bottom: 15px;
    margin-left: 5px;
  
}

/* 식품명 입력란 설정  */
#input-igretext{
    margin: 3px 3px;
    border: none;
    width: 350px;
}

/* 검색 클릭시 테두리 지움 */
#input-igretext:focus {
    outline: none;
}

#list-igre-area{
    width: 245px;
    height: 30px;
    display: flex;
    margin: 0px 44px;
    justify-content: right;
    margin-bottom: 10px;
}

/* 모두선택버튼 설정 */
#list-igre-area  button{
    border: none;
    background:#666666 ;
    width: 80px;
    height: 30px;
    color: white;
    font-weight: 100;
    font-size: 13px;
}

/* 리스트 제목 영역 */
#list-title{
    width: 245px;
    height: 40px;
    background-color: #9BCEFF;
    color: white;
    margin-left: 45px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* 식품명 위치 */
#first-list-title{
    margin-left:70px;
}

/* 소비기한 */
#second-list-title{
    margin-left:60px ;
}

/* 식재료 스크롤바 */
#overflow-recipe-area{
    /* border: 1px solid; */
    overflow:auto; 
    width:245px; 
    height:400px;
    margin-left: 45px;
    margin-bottom: 19px;
}

/* 내부 식재료 위치 설정 */
.row-igre-area{
    font-size: 13px;
    height: 40px;
    border-bottom: 1px solid #C1C1C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 18px;
}

/* 체크박스 크기설정 */
.row-igre-area input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* 버튼 영역 */
#modal-search-recipe-bottom{
    width: 215px;
    height: 30px;
    margin-left: 55px;
    padding: 0px 22px;
    display: flex;
    justify-content: space-between;
}

/* 닫기버튼 */
#closeModalBtn{
    height: 100%;
    width: 75px;
    border: 1px solid #939393;
    font-size: 14px;
    font-weight: 400;
}

/* 완료버튼 */
#completeModalBtn{
    height: 100%;
    width: 75px;
    background-color: #1E90FF;
    color: white;
    font-size: 14px;
}



/* 식재료 추가 모달창------------------------------------ */
/* 모달 스타일 */
.modal-two {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }
  
#viewModalBtn-two {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
    padding-top: 3px;
}

  /* 모달 콘텐츠 스타일 */
  #modal-content-recipe-add {
    background-color: #fefefe;
    margin: 10% auto; /* 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 635px;
    height: 700px;
  }
  
  /* 모달 닫기 버튼 스타일 */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  

/* 식재료 추가하기 */
#modal-title-recipe-header{
    height: 40px;
    width: 160px;
    margin-top: 20px;
    margin-left: 230px;
    font-size:25px;
    text-align: center;
    margin-bottom: 13px;
    color: black;
    font-weight: 300;
}

/* 검색창 */
#modal-search-igre2{
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    width: 550px;
    height: 35px; 
    display: flex;
    font-size:12px ;
    color:#ABABAB ;
    margin-bottom: 15px;
    margin-left: 25px;
    justify-content: space-between;
  
}

#modal-search-igre2 img{
    margin-right: 10px;
}

/* 식품명 입력란 설정  */
#input-igretext2{
    margin: 3px 6px;
    border: none;
    width: 350px;
}

/* 검색 클릭시 테두리 지움 */
#input-igretext2:focus {
    outline: none;
}

#list-igre-area2{
    width: 530px;
    height: 30px;
    display: flex;
    margin: 0px 44px;
    justify-content: right;
    margin-bottom: 10px;
    font-weight: 300px;
    gap:15px
}

/* 모두선택버튼 설정 */
#selectAll-btn2{
    background:#666666 ;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 13px;
}

/* 식재료 추가 버튼 */
#addAll-btn2{
    width: 80px;
    height: 30px;
    color: white;
    font-weight: 300;
    font-size: 13px;
    background:#1E90FF ;
}

/* 리스트 제목 영역 */
#list-title2{
    width: 550px;
    height: 40px;
    background-color: #9BCEFF;
    color: white;
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* 번호 위치 */
#add-list-title1{
    margin-left:72px;
}

/* 식품명 */
#add-list-title2{
    margin-left:72px ;
}
/* 100g당 칼로리 */
#add-list-title3{
    margin-left:65px ;
}
/* 소비기한 */
#add-list-title4{
    margin-left:65px ;
}

.direct-input input[type="text"] {
    width: 50px;
    margin-left: 3px;
}

/* 식재료 스크롤바 */
#overflow-recipe-area2{
    overflow:auto; 
    width:550px; 
    height:400px;
    margin-left: 25px;
    margin-bottom: 19px;
    font-size: 14px;
}

/* 내부 식재료 위치 설정 */
.row-igre-area2 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
}

/* 체크박스 크기설정 */
.row-igre-area2 input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* input 테두리 삭제(클릭포함 */
.fixed-width4 input{
    width: 80px;
    border: none;
}
.fixed-width4 input:focus{
    outline: none;
}

/* 버튼 영역 */
#modal-search-recipe-bottom2{
    width: 215px;
    height: 30px;
    margin-left: 120px;
    /* padding: 0px 22px;
    display: flex;
    justify-content: space-between; */
}

/* 닫기버튼 */
#closeModalBtn2{
    height: 100%;
    width: 75px;
    border: 1px solid #939393;
    font-size: 14px;
    font-weight: 400;
}

#overflow-table{
    width: 530px;
}

#overflow-table td{
    padding: 16px 0px;
}

#overflow-table td:first-child {
    padding: 10px; /* 첫 번째 td에 대한 패딩 제거 */
    padding-left: 16px;
    padding-top: 16px;
}



/* 체크박스 너비 */
.td-checkbox{
    width: 8%;
}
.td-checkbox > input{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}

/* 번호너비 */
.fixed-width1{
    width: 15%;
}

/* 식품너비 */
.fixed-width2{
    width: 25%;
}

/* 100g당 칼로리 너비 */
.fixed-width3{
    width: 20%;
}

/* 소비기한 */
.fixed-width4{
    color:#B7B7B7;
    width: 100%;
    display: flex;
    font-weight: 400;
}


