@charset "UTF-8";
/* a태그 부모상속 */
a {
    color: inherit;
}

body {
    
    padding-top: 170px;
}

table{
    table-layout:fixed;
    width: 100%;
}

/* body전체 영역 */
#body-area {
    justify-content: center;
    align-items: center;
    margin: 80px 340px;
    display: flex;
}

/* 왼쪽 body영역 */
#left-body-area {
    width: 210px;
    margin-right: 105px;
}
/* 오른쪽 body영역 */
#right-body-area {
    width: 925px;
}

/* ------------------------------------- */
/* 추천레시피 전체 영역 */
#recommend-recipe-area {
    margin-bottom: 60px;
}

/* 추천레시피 제목영역 */
#right-recommend-recipe-title-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* 추천 레시피 텍스트 설정 */
#recommend-recipe-texthead {
    font-size: 20px;
    font-weight: bold;
}


/* 추천레시피 이미지 영역 */
#recommend-recipe-imgs {
    height: 260px;
}

.slick-prev:before,
.slick-next:before{
  color: #1E90FF !important;;
}


/*나의 냉장고 전체영역*/
#myRefrigerator-area{
    width: 900px;
}

#myRefrigerator-igre-area{
    width: 100%;
}

#myRefrigerator-modal-btn{
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 추가/ 삭제 버튼 */
.refreMainBtn {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
    padding-top: 3px;
}


/*내부 간격주기(테이블) */
#myRefrigerator-igre-table-area {
    padding: 16px;
}

/* 나의 냉장고 제목 영역 */
#myRefrigerator-text-title-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

}

/* 나의 냉장고 텍스트 설정 */
#myRefrigerator-texthead {
    font-size: 20px;
    font-weight: bold;
}

/* '+ 추가하기' 모달버튼 텍스트설정 */
#myRefrigerator-modal-btn {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
    padding-top: 3px;
}


/* thead 텍스트설정 */
#myRefrigerator-tb td {
    text-align: center;
    padding-bottom: 16px;
}

/* 나의 냉장고 식재료 영역 */
#myRefrigerator-igre-area {
    border: 1px solid #E6E6E6;
}

/* 나의 냉장고 식재료내역 테이블 크기 설정 */
#myRefrigerator-igre-area table {
    width: 100%;
}

/* 테이블 텍스트 헤드 색상설정 (상품/신선도/...등) */
thead td {
    color: #6D6D6D;
    font-weight: 400;
}

/* 텍스트 굵기설정 */
tbody td {
    font-weight: bold;
}

/* 테이블 내부 글씨 위치설정 */
tbody td:not(:first-child ) {
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* 신선도 영역*/
.flesh-area {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 50px;
    width: 100%;
}

/* 신선도 상태 표시설정 */
.flesh-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* "삭제" 너비 크기설정 */

/* 직접레시피 찾기 모달창--------------------------------- */

/* '직접레시피 찾기' 모달버튼 텍스트 설정 */
#viewModalBtn {
    border: white;
    background-color: white;
    color: #1E90FF;
    font-size: 16px;
    font-weight: bold;
}



/* 모달 스타일 */
.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* 모달 콘텐츠 스타일 */
  #modal-content-recipe-find {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* 모달 닫기 버튼 스타일 */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* 레시피 찾기 */
#modal-title-header{
    height: 40px;
    font-size:25px;
    text-align: center;
}


#modal-recipe-selectedIngre{
    border: 1px solid #1E90FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#modal-recipe-selectedIngre div{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#modal-recipe-selectedIngre i{
    cursor: pointer;
}


#list-igre-area{
    height: 30px;
    display: flex;
    justify-content: space-between;
}

#modal-recipe-tbody td{
    font-weight: 400;
    text-align: center;
}

/* 식품명 위치 */
#first-list-title{
    margin-left:70px;
}

/* 소비기한 */
#second-list-title{
    margin-left:60px ;
}

/* 식재료 스크롤바 */
#overflow-recipe-area{
    /* border: 1px solid; */
    overflow:auto; 
    width:245px; 
    height:400px;
    margin-left: 45px;
    margin-bottom: 19px;
}

/* 내부 식재료 위치 설정 */
.row-igre-area{
    font-size: 13px;
    height: 40px;
    border-bottom: 1px solid #C1C1C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 18px;
}

/* 체크박스 크기설정 */
.row-igre-area input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* 버튼 영역 */
#modal-search-recipe-bottom{
    height: 30px;
    display: flex;
    justify-content: center;
}

/* 닫기버튼 */
#closeModalBtn{
    height: 100%;
    width: 75px;
    border: 1px solid #939393;
    font-size: 14px;
    font-weight: 400;
}

/* 완료버튼 */
.modalBtn{
    height: 100%;
    width: 75px;
    background-color: #1E90FF;
    color: white;
    font-size: 14px;
}

.modalBtnBorder{
    background: none;
    color: #1E90FF;
    border: 1px solid #1E90FF;
}

/* 식재료 추가 모달창------------------------------------ */
/* 모달 스타일 */
.modal-two {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }


  /* 모달 콘텐츠 스타일 */
  #modal-content-recipe-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    /* 중앙 정렬 */
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 1000px;
    height: 700px;
  }
  
  /* 모달 닫기 버튼 스타일 */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  

/* 식재료 추가하기 */
#modal-title-recipe-header{
    height: 40px;
    width: 160px;
    margin-top: 20px;
    font-size:25px;
    text-align: center;
    margin-bottom: 13px;
    color: black;
    font-weight: 300;
}

.modal-ingre-input-howTo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-ingre-input-howTo span{
    /* width: 50%;
    text-align: center; */
}


/* 검색창 */
#modal-search-igre2{
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    width: 100%;
    display: flex;
    font-size:12px ;
    color:#ABABAB ;
    margin-bottom: 15px;
    justify-content: space-between;
  
}
/* 식재료 추가 검색 버튼 */
#modal-search-igre2 button{
    width: 10%;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
}

/* 유저 직접 입력 div */
.modal-ingre-search-wrapper{
    flex-direction: row;
    display: flex;
    width: 50%;
}


.refri-input-wrapper{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.refri-input-wrapper input{
    font-size: large;
}

/* 식품명 입력란 설정  */
.refri-foodNutri-input{
    padding: 3px 6px;
    border: none;
    width: 100%;
    height: 50px;
}

#refri-input-foodName{
    border-bottom: 1px solid #C5C5C5;
}

/* 검색 클릭시 테두리 지움 */
#input-igretext2:focus {
    outline: none;
}

#list-igre-area2{
    width: 100%;
    height: 30px;
    display: flex;
    margin: 0px 44px;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 300px;
    gap:15px
}

/* 모두선택버튼 설정 */
#selectAll-btn2{
    background:#666666 ;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 13px;
}

/* 식재료 추가 버튼 */
#addAll-btn2{
    width: 80px;
    height: 30px;
    color: white;
    font-weight: 300;
    font-size: 13px;
    background:#1E90FF ;
}

/* 리스트 제목 영역 */
.modal-thead-tr{
    width: 100%;
    height: 40px;
    background-color: #9BCEFF;
    color: white;
    font-size: 16px;
}

#list-title2 span{
    text-align: center;
}

#modal-ingre-tbody{
    font-size: 15px;
}

#modal-ingre-checkBox{
    height: 20px;
    width: 20px;
}

.direct-input input[type="text"] {
    width: 50px;
}

/* 식재료 스크롤바 */
#overflow-recipe-area2{
    overflow:auto; 
    width: 100%; 
    height:400px;
    margin-bottom: 19px;
    font-size: 14px;
}

/* 내부 식재료 위치 설정 */
.row-igre-area2 {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
}

/* 체크박스 크기설정 */
.row-igre-area2 input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* input 테두리 삭제(클릭포함 */
.fixed-width4 input{
    border: none;
    width: 100%;
}
.fixed-width4 input:focus{
    outline: none;
}

/* 버튼 영역 */
#modal-search-recipe-bottom2{
    height: 30px;
}

/* 식재료 추가 모달 페이지네이션 */
#ingre-modal-pagination{
    width: 100%;
    height: 30px;
    padding-right: 20px;
}

/* 닫기버튼 */
#closeModalBtn2{
    height: 100%;
    width: 75px;
    border: 1px solid #939393;
    font-size: 14px;
    font-weight: 400;
}

#overflow-table{
    width: 100%;
}

#overflow-table td{
    padding: 16px 0px;
    text-align: center;
}

#overflow-table td:first-child {
    text-align: center;
}



/* 체크박스 너비 */
.td-checkbox{
    width: 40px;
}
.td-checkbox > input{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}

/* 번호너비 */
.fixed-width1{
    width: 60px;
}

/* 식품너비 */
.fixed-width2{
    width: 25%;
}

/* 100g당 칼로리 너비 */
.fixed-width3{
    width: 20%;
}

/* 소비기한 */
.fixed-width4{
    color:#B7B7B7;
    /* width: 100%; */
    font-weight: 400;
}

.overflow-tr{
    width: 100%;
}

    /* 냉장고 하단 페이징 바 */

#pagination-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    }
    
    /* 모든 페이지바 공통 */

.pagination{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.pagination > a {
font-size: 14px;
color : #6D6D6D;
}


      /* 식품 영양 정보 모달 */
      .nutrition-modal .modal-header {
        background-color: #000;
        color: #fff;
        text-align: left;
        padding: 10px 20px;
    }

    .nutrition-modal-container{
        position: fixed;
        top: 20%;
        left: 40%;
        width: 330px;
    }

    .nutrition-modal .modal-body {
        background-color: #fff;
        color: #000;
        padding: 20px;
    }
    .nutrition-modal .nutrition-table {
        width: 100%;
        border: 1px solid #000;
        border-collapse: collapse;
        margin-bottom: 10px;
    }
    .nutrition-modal .nutrition-table th, .nutrition-modal .nutrition-table td {
        border: 1px solid #000;
        padding: 5px;
        text-align: left;
        font-weight: normal;
    }
    .nutrition-modal .nutrition-table th {
        background-color: #f8f9fa;
        font-weight: bold;
    }
    .nutrition-modal .nutrition-table th:first-child, .nutrition-modal .nutrition-table td:first-child {
        width: 50%;
    }
    .nutrition-modal .nutrition-table th:last-child, .nutrition-modal .nutrition-table td:last-child {
        width: 20%;
        text-align: right;
    }
    .nutrition-modal .modal-footer {
        background-color: #f8f9fa;
        text-align: center;
        border-top: 1px solid #e9ecef;
    }
    .nutrition-modal .disclaimer {
        font-size: 0.8em;
        margin-top: 10px;
        text-align: left;
    }


.center{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.text-align-center{
    text-align: center;
}