.container {
    position: absolute;
    width: 540px;
    height: auto;
    text-align: center;
    margin: 50px 690px 188px 690px;
  }
  
  #register-form {
    display: inline-block;
    text-align: left;
  }
  #gorang-logo{
    cursor: pointer;
  }

  h2 {
    font-size: 34px;
    margin-bottom: 48px;
    margin-top: 50px;
  }

  .registerSection{
    width: 540px;
    height: 53px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 16px;
  }

  .registerSpan{
    width: 96px;
    height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .registerSpan span{
    text-align: center;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
  }

  .register-inputForm{
      width: 320px;
      height: 53px;
  }

  .register-input{
    width: 320px;
    height: 53px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 2px;
    padding: 16px;
    outline: none;
  }

  .register-input input ::placeholder{
    color: #999999;
    font-size: 14px;
  }

  .registerCheck{
    width: 100px;
    height: 53px;
  }

  .registerCheck input{
    width: 100px;
    height: 53px;
    border-style: solid;
    border-color: #1E90FF;
    border-width: 2px;
    background-color: #fff;
    color: #1E90FF;
    cursor: pointer;
  }

  #registAddressSection{
    height: fit-content;
  }
  
  #addressSearch input{
    margin-left: 15px;
    width: 150px;
    height: 53px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 2px;
    padding: 16px;
  }

  #addressSearch button{
    width: 320px;
    height: 53px;
    border-style: solid;
    border-color: #1E90FF;
    border-width: 2px;
    background-color: #fff;
    color: #1E90FF;
    cursor: pointer;
  }

  #address-search-result{
    width: 432px;
    height: 179px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; 
  }

  #genderSelect{
    width: 320px;
    height: 53px;
    align-items: center;
    display: flex;
  }

  #genderSelect input{
    width: 20px;
    height: 20px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 4px;
  }
  #genderSelect span{
    margin-right: 50px;
    margin-left: 10px;
    font-size: 14px;
  }

  hr{
    margin-top: 42px;
  }

  #gorangTermSection{
    margin-top: 32px;
    width: 540px;
    height: 212px;
    display: flex;
    margin-bottom: 16px;
    padding-bottom: 30px;
  }
  #termSpan{
    width: 80px;
    height: 53px;
    padding-top: 15px;
    margin-right: 28px;
  }
  #termSpan span{
    text-align: center;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
  }
  #termCheck{
    width: 320px;
    height: 165px;
    margin-top: 15px;
  }
  .all-check{
    width: 320px;
    height: 25px;
    padding: 2px;
    margin-right: 20px;
  }
  .checkbox{
    width: 320px;
    height: 25px;
    text-align: center;
    display: flex;
  }
  .select-all{
    width: 20px;
    height: 20px;
  }
  .checkbox span{
    margin-left: 10px;
    font-size: 14px;
  }
  .list{
    width: 320px;
    height: 128px;
  }
  .list li{
    font-size: 12px;
    display: flex;
    text-align: center;
    padding-top: 5px;
  }
  .list li label{
    width: 320px;
    height: 20px;
    margin-bottom: 5px;
  }
  .list li label input{
    margin-top: 5px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
  }
  .list li label span{
    padding-top: 8px;
   font-size: 12px;
   margin-left: 10px;
  }
  .item button{
    width: 60px;
    align-items: center;
    text-align: center;
    margin-left: 50px;
  }
  #registerSubmitBtn{
    margin-top: 32px;
    width: 540px;
    height: 53px;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
  }
  #registerSubmitBtn input{
    width: 320px;
    height: 58px;
    color: #fff;
    background-color: #1E90FF;
    border-color: #1E90FF;
    border-style: solid;
    cursor: pointer;
  }