@charset "UTF-8";

body {
    padding-top: 188px;
}

/*--------------- 레시피 썸네일 영역(맨위 상단)------------------ */

/* 레시피 글  썸네일 영역 */
#recipe-thumnail-area {
    width: 800px;
    height: 900px;
    margin: 0px 560px;
    margin-top: 26px;
    margin-bottom: 28px;
}

/* 썸네일 요리 이미지 크기 */
#recipe-thumnail-food-img {
    height: 800px;
    width: 800px;
}

/* 썸네일 요리 이미지 크기 */
#recipe-thumnail-food-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* 유저 이미지 영역 */
#recipe-thumnail-user-img-area {
    width: 200px;
    height: 180px;
    margin: 0px 300px;
    position: relative;
    bottom: 80px;
}

/* 유저 이미지 */
#recipe-thumnail-user-img {
    padding: 0px 35.5px;
    margin-bottom: 21px;
}


/* 유저 닉네임 */
#recipe-thumnail-user-nickname {
    text-align: center;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20px;
}

/* 조회수  */
#recipe-thumnail-views-count {
    display: flex;
    position: relative;
    left: 710px;
    bottom: 170px;
    height: 15px;
    width: 100px;
    justify-content: center;
}

#recipe-thumnail-views-count span {
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    padding-left: 10px;
}


/* --------------레시피 전체 내용 틀--------------------------- */

#recipe-content-total-area {
    margin: 0px 340px;
    width: 1240PX;
}


/* ------------레시피 제목,태그,내용, 정보 전체영역 -------------- */

#recipe-total-first-area {
    height: 74px;
    width: 1237p;
    margin-bottom: 400px;
  
}

/* 레시피 제목 */
#recipe-title-top {
    line-height: 74px;
    font-size: 24px;
    font-weight: 500;
}

/* 레시피 제목,태그,내용, 정보 아래영역 */
#recipe-total-bottom-area {
    width: 1237px;
    height: 360px;
    display: flex;
    margin-bottom: 28px;
    position: relative;
    z-index: 2;
}

/* 정보 전체영역 좌측 크기 */
#recipe-total-first-left {
    width: 796px;
    margin-right: 50px;
}

/*  정보 전체영역 우측 크기 */
#recipe-total-first-right {
    border: 1px solid #D9D9D9;
    width: 364px;
    padding: 15px;
    border-radius: 6px;
}

/* 태그 */
#recipe-tage {
    display: flex;
    padding: 10px 0;
    gap: 29px;
    flex-wrap: wrap;
}

.tag-content {
    /* display: flex; */
    border: 1px solid #D9D9D9;
    width: 88px;
    height: 40px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 6px;
}

/* 레시피 소개내용 */
#recipe-content {
    height: 283px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}

/* 난이도 조리시간 인원 틀영역*/
#recipe-category-top {
    display: flex;
    gap: 25.5px;
}

.recipe-category {
    width: 95px;
    text-align: center;
}

.recipe-smaill-top {
    height: 34px;
    font-size: 17px;
    align-content: center;
    font-weight: 500;
}

.recipe-smaill-bottom {
    height: 76px;
    font-size: 21px;
    font-weight: bold;
    align-content: center;
    padding-bottom: 20px;
}

/* 좋아요 스크랩 조회수 */
.icon-area{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
.icon-text-area{
    font-size: 22px;
}
.icon-area strong{
    margin-top: 20px;
}
/* 레시피영양정보 영역 */
#recipe-nutt-info-area {
    height: 95px;
}

#nutt-info-area {
    width: 310px;
    height: 70px;
    display: flex;
    border-radius: 5px;
    background-color: #E9F4FF;
    margin: 6px 0px;
    margin-left: 14px;
    align-content: center;
    padding: 0px 17px;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
}

#bugerbarimg {
    margin-top: 20px;
}

#nutt-info-text {
    margin-top: 21px;
    margin-left: -18px;
}

#downimg {
    margin-top: 25px;
    margin-left: 15px;
}

#downimg:hover {
    cursor: pointer;
}

#recipe-icon {
    display: flex;
    height: 100px;
    gap: 55px;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
}
#recipe-icon i:hover{
    cursor: pointer;
}

/* -----(재료, 조리순서, 후기, 문의, 연관)메뉴 바---- */
#menubar-id-area{
    border: 1px solid #EEEEEE;
    height: 50px;
    width: 1240px;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
    position: relative;
    z-index: -2;
}

.menubar-id {
    background-color: #FAFAFA;
    text-align: center;
    align-content: center;
    width: 246px;
    z-index: -1;
}

.menubar-id a {
    z-index:-1;
    color: black;
}

/*---------------------재료 영역------------------------ */

#igre-total-area {
    padding: 20px 0px;
    margin-bottom: 18px;
}

/* 재료(제목) */
#igre-head-title-area {
    height: 59px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}



.igre-type-area {
    display: flex;
    font-size: 20px;
    padding-left: 300px;
    padding-top: 10px;
    flex-wrap: wrap;
    row-gap: 25px;
}

.igre-type-area table{
    border-bottom: 1px solid rgb(179, 205, 253);
    width: 40%;
}


.tr-igre-title {
    font-weight: bold;
}

.tr-igre-title td {
    font-weight: bold;
    padding-bottom: 10px;
}

tbody tr>td {
    width: 20%;
    padding: 10px 0px;
}



/*---------------------조리 순서 영역------------------------ */

#cooking-order-total-area {
    padding-top: 30px;
    margin-bottom: 30px;
}

#cooking-order-title {
    height: 59px;
    font-size: 24px;
    font-weight: bold;
    align-content: center;
}

#cooking-order-blocks {
    padding: 0px 307px;
    margin-right: 18px;
}

.cook-order-block {
    width: 601px;
}

.cooking-order-step-title {
    height: 56px;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.cooking-order-step-image {
    width: 601px;
    height: 369px;
    margin-bottom: 10px;
}

.cooking-order-step-image img {
    width: 100%;
    height: 100%;
}

.cooking-order-step-content {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    font-weight: 500;
}

.number-circle {

    width: 25px;
    height: 25px;
    background-color: #1E90FF;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin-right: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooking-order-step-tip {
    color: #df87bb;
    /* font-weight: bold; */
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
    border-bottom-style: dashed;
    margin-bottom: 20px;
}

/*----------------------------- 요리 완성 사진-------------------  */

#complete-cook-image-area {
    padding: 0px 210px;
    margin-bottom: 110px;
}

#complete-cook-image-area>span {
    font-size: 20px;
    font-weight: bold;
}

/* 캐럴셀 */
#carouselExample {
    width: 700px;
    height: 525px;
    margin-bottom: 50px;
}


/* ---------------------리뷰 후기 ----------------------*/
#product_review_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 55px;
}

.description_title {
    font-size: 22px;
    font-weight: bold;
}

#product_review {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cececd;
}

#review_writer_area {
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

#review_writer_pic_container {
    width: 60px;
    height: 60px;
}

#review_writer_pic_container img {
    width: 60px;
    height: 60px;
}
#review_writer_id_rate {
    display: flex;
    flex-direction: column;
}

#review_writer_pic {
    border-radius: 50%;
}

#review_product_name {
    font-size: 16px;
    color: #999999;
    margin-bottom: 10px;
}

#review_img_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
    margin: 20px 0px;
}

.review_img {
    width: 100px;
    height: 100px;
}

#review_content {
    font-size: 16px;
    width: 500px;
    font-weight: 500;
    margin-bottom: 50px;
}

#review_pagination_area,
#qna_pagination_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#review_pagination,
#qna_pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
}

#review_pagination>a,
#qna_pagination>a {
    font-size: 14px;
    color: #6D6D6D;
}

#product_qna_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 50px;
}

#qna_top {
    border-top: 2px  solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 40px;
}

#qna_content {
    width: 100%;
    margin-bottom: 50px;
}

#qna_content tr {
    border-top: 1px solid #CECECD;
    border-bottom: 1px solid #CECECD;
}

#qna_content td {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}

.qna_title {
    width: 350px;
}

.qna_writer,
.qna_create_date,
.qna_status {
    width: 120px;
}

.qna_answer {
    display: flex;
}


.span_q_a {
    margin: 20px;
    color: #1E90FF;
    font-size: 20px;
}

#qna_a_date {
    margin-left: 50px;
    font-size: 14px;
    color: #cececd;
}

#modal-qna-content {
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#product_name_container,
#product_pic_container,
#product_qna_content_container {
    width: 100%;
    height: 100px;
}

#product_name_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#qna_product_name_header {
    font-size: 15px;
    font-weight: bold;
}

#qna_product_name {
    border: 1px solid #dbdbdb;
    color: #424242;
    padding: 8px 16px;
    border-radius: 4px;
}

#qna_product_pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #1E90FF;
    padding: 10px;
    border-radius: 4px;
}

#product_qna_content_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

#product_qna_content {
    padding: 16px;
    width: 100%;
    height: 100%;
    height: 110px;
    resize: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

#produt_qna_enroll_btn_container {
    width: 100%;
}

#produt_qna_enroll_btn {
    width: 100%;
    height: 50px;
    background-color: #1E90FF;
    color: white;
    border-radius: 4px;
}

/* -------------------------연관상품 영역 ---------------------------*/
#relation-product-total-area >hr{
    border: 2px solid;
    padding-top: -10px;
}
#relation-product-total-area{
    width: 100%;
    border-top: 2px solid;
    height:475px ;
    margin-bottom: 135px;
    
}

#relation-product-head{
    height: 87px;
    margin: 10px 0px;
    font-size: 22px;    width: 100%;
    /* height: 100%; */
    font-weight: bold;
    display: flex;
    align-items: center;
}

#relation-product-list{
    border-bottom: 1px solid rgb(134, 134, 134);
    height: 366px;
    display: flex;
    gap:35.5px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.relation-product-list-block{
    width: 216px;
    height: 348px;
}

.relation-product-image{
    height:216px ;
    margin-bottom: 16px;
}
.relation-product-image img{
    width: 100%;
    height: 105%;
    border-radius: 5PX;
}

.relation-product-brand{
    font-size:14px ;
    color: #999999;
}

.relation-product-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.relation-product-ps-size{
    font-size: 22px;
    font-weight: 500;
}

.relation-product-sale{
    color: #1E90FF;
}

#goto-list-area{
    width: 123px;
    height: 52px;
    background-color:#838383 ;
    float: right;
    margin-top: 26px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
#goto-list-btn{
    font-size: 20px;
    font-weight: 500;
    color: white;
    height: 100%;
    width: 100%;
}


/* -------레시피 영양 정보(클릭)----- */
#recipe-nutrition-info-list-area{
    position: relative;
    right: 16px;
    top:13px;
    border: 1px solid #D9D9D9;
    width: 365px;
    height: 255px;
    border-radius: 5px;
    z-index: 20;
    background-color: white;
    margin-bottom: 20px;
    display: none;
}
#recipe-nutrition-info-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 22px;
}

#recipe-nutrition-info-header img{
    margin-bottom: 5px;
}
#recipe-nutrition-info-bottom{
    padding: 0px 20px;
}

#recipe-nutrition-info-bottom{
    font-size: 18px;
}

#recipe-nutrition-info-bottom td{
    width: 100%;
}

.second-td{
    float: right;
}

#close-div:hover{
    cursor: pointer;
}

/* <페이징바> */
#pagination-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 15px;
  }
  
  #pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 392px;
  }
  
  #pagination > a {
    font-size: 14px;
    color : #6D6D6D;
  }

#deleteBtn{
    color: #1e90ff;
}
  #deleteBtn:hover{
    cursor: pointer;
    color:#F20606;
  }


  /* -------완성 사진 목록(클릭)----- */

  .w-100 {
    margin-top: 15px;
    width: 100% !important;
    height: 600px;
}

/* 별점 레이팅 바 */
.star_rating {
    width: 100%; 
    box-sizing: border-box; 
    display: inline-flex; 
    float: left;
    flex-direction: row; 
    justify-content: flex-start;
  }
  .star_rating .star {
    width: 25px; 
    height: 25px; 
    margin-right: 10px;
    display: inline-block; 
    background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FE2bww%2FbtsviSSBz4Q%2F5UYnwSWgTlFt6CEFZ1L3Q0%2Fimg.png') no-repeat; 
    background-size: 100%; 
    box-sizing: border-box; 
  }
  .star_rating .star.on {
    width: 25px; 
    height: 25px;
    margin-right: 10px;
    display: inline-block; 
    background: url('https://blog.kakaocdn.net/dn/b2d6gV/btsvbDoal87/XH5b17uLeEJcBP3RV3FyDk/img.png') no-repeat;
    background-size: 100%; 
    box-sizing: border-box; 
  }
  
  .star_box {
    width: 400px;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 0;
    background: #F3F4F8;
    border: 0;
    border-radius: 10px;
    height: 100px;
    resize: none;
    padding: 15px;
    font-size: 13px;
    font-family: sans-serif;
  }

  /* -------------------------------댓글----------------------- */

  .userName{
    font-size: 23px;
    font-weight: 600;
    margin-right: 20px;
  }
  .commentDates{
    color:#999; 
    margin-right: 5px;
  }

  .updateComments:hover{
    color: #1E90FF;
    font-weight: 700;
  }
  .deleteComents:hover{
    color:rgb(250, 70, 70);
    font-weight: 700;
  }
  
/* 댓글 모달영역 */
 #write_review_area{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }




 .tbody-td-btn-write {
    width: 123px;
    height: 53px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 20px;
}
.tbody-td-btn-write:hover{
    opacity: 0.8;
}
  /* --------------------문의하기 모달 관련 css--------------------- */
   /* 문의하기 모달 관련 css */
   .modal-qna-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .product_name_container, 
  .product_pic_container, 
  .product_qna_content_container {
    width: 100%;
    height: fit-content;
  }
  
  .product_name_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .qna_product_name_header{
    font-size: 15px;
    font-weight: bold;
  }
  
  .qna_pdopt_name {
    border: 1px solid #dbdbdb;
    color: #424242;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .add_qna_product_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #1E90FF;
    padding: 10px;
    border-radius: 4px;
  }
  
  .add_qna_product_pic:hover {
    cursor: pointer;
  }
  
  .product_qna_content_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }
  
  .product_qna_content {
    padding: 16px;
    width: 100%;
    height: 100%;
    height: 110px;
    resize: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  
  .product_qna_enroll_btn_container {
    width: 100%;
  }
  
  .product_qna_enroll_btn {
    width: 100%;
    height: 50px;
    background-color: #1E90FF;
    color: white;
    border-radius: 4px;
  }

  .file-input {
    display: none;
  }
  
  .qna_pic_container {
    width: 100px;
    height: 100px;
    display: none;
  }
  
  .qna-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


  #answer_area{
    display:none;
  }

  .qna-area-hover:hover{
    cursor: pointer;
  }


/* #qna_img_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
    margin: 20px 0px;
} */

.pageList{
    display: flex;
}
.pagination{
    justify-content: center;
}
