body{
    width: 100%;
}

#footer{
    width: 100%;
    height: 100%;
    padding: 36.5px 320px 0 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #e6e6e6;
}


#footer-wrapper{
    width: 1240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

#footer-wrapper-wrap{
    width: 1209px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    gap: 10px;
}

#footer-wrapper-wrap-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
}

#footer-wrapper-wrap-container-box{
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 185px;
    padding-bottom: 50px;
}

.footer-wrapper-wrap-container-box-contents{
    width: 115px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-wrapper-wrap-container-box-contents Strong{
    font-size: 16px;
}

.footer-wrapper-wrap-container-box-contents span{
    color: #222222;
    font-size: 13px;
    opacity: 0.5;
}

#footer-wrapper-wrap-container-box-info{
    width: calc(100% - 867px);
    height: 197px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer-wrapper-wrap-container-box-info-customerCenter{
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

#footer-wrapper-wrap-container-box-info-customerCenter-phone{
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#footer-wrapper-wrap-container-box-info-customerCenter-phone span{
    font-weight: bold;
    font-size: 16px;
}

#footer-wrapper-wrap-container-box-info-customerCenter-hour{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
}

#footer-wrapper-wrap-container-box-info-customerCenter-hour span{
    color: #222222;
    font-size: 13px;
    opacity: 0.5;
    letter-spacing: -0.07px;
    line-height: 20px;
}

#footer-wrapper-wrap-container-box-info-customerCenter-question{
    width: 95.3px;
    height: 34px;
    background-color: #1E90FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-wrapper-wrap-container-box-info-customerCenter-question span{
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.06px;
    color: #FAFAFA;
}

#footer-wrapper-wrap-container-box-info-location{
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: column;
}

#footer-wrapper-wrap-container-box-info-location span{
    color: #222222;
    font-size: 13px;
    opacity: 0.5;
    letter-spacing: -0.21px;
}