
#header{
    width: 100%;
    height: 170px;
    font-weight: 600;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px #e6e6e6;
}

/* header top */
#header-top{
    width: 100%;
    height: 52px;
    background-color: #1E90FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    #header-top > span{
        font-size: 20;
        font-weight: 500;
        color: #ffffff;
    }

/* header bottom */

#header-bottom{
    width: 100%;
    height: calc(100% - 52px);
    padding: 20px 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 119px;
    background-color: #ffffff;
}

/* 헤더 왼편*/
    #header-bottom-left{
        width: 351px;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 56px;
    }

        #header-bottom-left-logo{
            width: 78px;
            height: 100%;
            cursor: pointer;
        }

        #header-bottom-left-category{
            width: 217px;
            height: 30px;
            display: flex;
            flex-direction: row;
            gap: 40px;
        }

        #header-bottom-left-category span{
            font-size: 20px;
            font-weight: bold;
            line-height: 150%;
            letter-spacing: -0.025rem;
            cursor: pointer;
        }

    
    #header-bottom-right{
        width: 770px;
        height: 96px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 250px;
    }

        #header-bottom-right-searchbar{
            width: 300px;
            height: 24px;
            border-bottom: solid 1px;
            display: flex;
            flex-direction: row;
        }

            #header-bottom-right-searchbar > input{
                width: calc(100% - 24px);
                height: 100%;
                border: none;
                outline: none;
            }

            #header-bottom-right-searchbar-logo{
                width: 24px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        
        #header-bottom-right-login{
            width: 220px;
            height: 96px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }

            #header-bottom-right-login span{
                font-size: 12px;
                cursor: pointer;
            }

            #header-bottom-right-login-top{
                width: 100%;
                height: 18px;
                display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 16px;
            }

            #header-bottom-right-login-bottom{
                width: 100%;
                height: 58px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 32px;
                font-size: 12px;
            }

                .header-bottom-right-login-bottom-logo{
                    width: 52px;
                    height: 58px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                    .headerProfileImg{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        
                    }
                    .writeDropdown {
                        position: relative;
                        display: inline-block;
                    }


                    .writeDropdown > span {
                        cursor: pointer;
                        border: none;
                        border-radius: 4px;
                    }


                    .writeDropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }


                    .writeDropdown-content span {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }


                    .writeDropdown-content span:hover {
                        color: #1E90FF;
                        background-color: #f1f1f1;
                    }


                    .writeDropdown:hover .writeDropdown-content {
                        display: block;
                    }
