#main-container {
  padding-top: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#main-banner-area {
  width: 1920px;
  height: 760px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-banner {
  width: 640px;
  height: 760px;
  position: relative;
  overflow: hidden; 
}

#main-content-area {
  width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 100px;
}

.main-banner-img,
.weekly-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s ease; 
}

.main-banner-img:hover,
.weekly-item-img:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.main-banner-comment {
  position: absolute;
  z-index: 10;
  bottom: 90px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-comment {
  font-size: 42px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.sub-comment {
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.weekly-best-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow: hidden;
}

.list-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  font-size: 28px;
  font-weight: bold;
}

.show-more-span > a {
  color: #1e90ff;
}

.weekly-best-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.weekly-recipe {
  width: 292px;
  height: 367px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.weekly-product {
  width: 292px;
  height: 447px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.weekly-item-img-container {
  width: 100%;
  height: 292px;
  overflow: hidden;
}

.weekly-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease; 
}

.weekly-item-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.weekly-item-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info_1 {
  font-size: 18px;
  color: #6d6d6d;
}

.info_2 {
  font-size: 20px;
  font-weight: 500;
}

.info_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-brand {
  font-size: 14px;
  color: #999999;
}

.product-name {
  font-size: 18px;
}

.info_price {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-origin-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #cccccc;
}

.product-sale-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.product-discount-percent {
  font-size: 22px;
  font-weight: bold;
  color: #1e90ff;
}

.product-saled-price {
  font-size: 22px;
  font-weight: bold;
}

.flex-gap-20 {
  gap: 20px;
}

.weekly-board {
  width: 232px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.board-img-container {
  width: 100%;
  height: 292px;
  overflow: hidden; 
}

.board-img-container:hover {
  cursor: pointer;
}

.flex-gap-16px {
  gap: 16px;
}

.board-title-container {
  font-size: 20px;
}
