/*사이드바*/
#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 295px;
    overflow: hidden;
    position: fixed;
    top: 40%;
    right: 0.5%;
    z-index: 10;
    transition: all 1000ms ease-in;
}

#recently-seen-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}
.recently-seen-div-button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border: none;
    outline: none;
    z-index: 3;
    cursor: pointer;
}

.slick-prev{
    left: 35px; 
    top: 1%
}

.slick-next{
    right: 35px;
    bottom: 1%;
}

#recently-seen-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
    position: relative;
}

#recently-seen-container > span{
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.1rem;
    color: #6D6D6D;
    text-align: center;
}

#recently-seen-container > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
 }

 #recently-seen-list div{
    height: 76px;
    margin: 2px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }

 #recently-seen-list div > img{
    border-style: none;
    object-fit: cover;
    height: 100%;
    width: 100%;
 }