body{
}
#common-write{
    width: 1920;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}
#write-top{
    width: 1920px;
    height: 85px;
    border-bottom: 1px solid #1E90FF;
    padding: 20px;
}
#writeBtnSection{
    display: flex;
    float: right;
}
#tempStorageBtn{
    margin-right: 5px;
}
#tempStorageBtn input{
    width: 132px;
    height: 45px;
    color: #1E90FF;
    background-color: #fff;
    border-color: #1E90FF;
    border-style: solid;
    border-radius: 4px;
}
#writeSubmitBtn{
    margin-left: 5px;
}
#writeSubmitBtn input{
    width: 132px;
    height: 45px;
    color: #fff;
    background-color: #1E90FF;
    border-color: #1E90FF;
    border-style: solid;
    border-radius: 4px;
}
#write-container{
    width: 900px;
    height: 880px;
    margin: 110px 510px 80px 510px;
}
#writeTitleSection{
    border-bottom: #EAEBEF solid 1px;
    height: 70px;
    display: flex;
}
#selectCategory{
    margin: 6px 0 6px 0;
}
#selectCategory select{
    width: 100px;
    height: 58px;
    border-radius: 4px;
    background-color: #E9F4FF;
    border: none;
}
#writeTitle{
    width: 800px;
    height: 70px;
    padding: 15px;
}
#writeTitle input{
    width: 567px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 32px;
    padding-left: 10px;
}
#writeUploadThumbnail{
    margin-top: 5px;
    width: 900px;
    height: 405px;
    background-color: #E9F4FF;
    padding: 113px 205px 113px 205px;
}
#uploadThumbnailSection{
    width: 488px;
    height: 179px;
    padding: 10px;
}
#uploadThumbnailSpan{
    width: 468px;
    height: 40px;
    text-align: center;
    padding: 7px;
}
#uploadThumbnailSpan span{
    font-size: 18px;
    font-weight: 800;
}
#uploadThumbSizeSpan{
    margin-top: 1px;
    width: 468px;
    height: 100px;
    text-align: center;
}
#uploadThumbSizeSpan span{
    font-size: 15px;
    color: #828C94;
}
#uploadThumbBtn{
    margin-top: 1px;
    width: 468px;
    height: 40px;
    text-align: center;
}
#uploadThumbBtn label{
    margin-top: 10px;
    width: 335px;
    height: 40px;
    background-color: #494F54;
    padding-top: 10px;
    cursor: pointer;
    color: #E9F4FF;
    font-size: 15px;
    border-radius: 4px;
}
#uploadThumbBtn input{
    display: none;
}
#writeToolBarSection{
    width: 700px;
    height: 65px;
    background-color: red;
    padding: 10px 49px 10px 49px;
}
#toolBar{
    width: 602px;
    height: 45px;
    background-color: #1E90FF;
}
.note-placeholder {
    color: #999999; /* Placeholder text color */
}