@charset "UTF-8";

*{  
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img,
svg,
video {
  vertical-align: middle;
}

button {
    cursor: pointer;
    border: 0;
    background: transparent;
  }

body{
    width: 1920px;
}