<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- settings: mybatis 구동 시 선언할 설정들을 작성하는 영역 -->
	<settings>
		<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식해라(무조건 대문자 NULL) -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<!-- typeAlias: VO/DTO 클래스들의 풀클래스명을 단순한 클래스명(별칭)으로 사용하기 위한 별칭을 등록하는 영역 -->
	<typeAliases>
		<typeAlias type="com.kh.gorang.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.gorang.member.model.vo.Review" alias="Review" />
		<typeAlias type="com.kh.gorang.member.model.vo.QnA" alias="QnA" />
		<typeAlias type="com.kh.gorang.member.model.vo.ProductCart" alias="ProductCart" />
 		<typeAlias type="com.kh.gorang.recipe.model.vo.Recipe" alias="Recipe" />
 		<typeAlias type="com.kh.gorang.recipe.model.vo.Division" alias="Division" />
 		<typeAlias type="com.kh.gorang.recipe.model.vo.IngredientsInfo" alias="IngredientsInfo" />
 		<typeAlias type="com.kh.gorang.recipe.model.vo.CookOrder" alias="CookOrder" />
 		<typeAlias type="com.kh.gorang.recipe.model.vo.CookTip" alias="CookTip" />
 		<typeAlias type="com.kh.gorang.shopping.model.vo.Product" alias="Product" />
 		
 		<typeAlias type="com.kh.gorang.shopping.model.vo.ProductDetailOption" alias="ProductDetailOption" />

 		<typeAlias type="com.kh.gorang.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.gorang.board.model.vo.Report" alias="Report"/>
		
 		<typeAlias type="com.kh.gorang.shopping.model.vo.ProductInsertDTO" alias="ProductInsertDTO" />
 		<typeAlias type="com.kh.gorang.board.model.vo.BoardSearchDTO" alias="BoardSearchDTO" />
 		
 		<typeAlias type="com.kh.gorang.shopping.model.vo.Order" alias="Order"/>
 		<typeAlias type="com.kh.gorang.shopping.model.vo.OrderPdopt" alias="OrderPdopt"/>
 
 		<typeAlias type="com.kh.gorang.common.model.vo.Media" alias="Media"/>
 		<typeAlias type="com.kh.gorang.common.model.vo.SearchBoardDTO" alias="SearchBoardDTO"/>
 		<typeAlias type="com.kh.gorang.common.model.vo.SearchProductDTO" alias="SearchProductDTO"/>
 		<typeAlias type="com.kh.gorang.common.model.vo.SearchRecipeDTO" alias="SearchRecipeDTO"/>
 		<typeAlias type="com.kh.gorang.recipe.model.vo.ScrapRecipe" alias="ScrapRecipe" />
 		<typeAlias type="com.kh.gorang.board.model.vo.ScrapBoard" alias="ScrapBoard" />
 		<typeAlias type="com.kh.gorang.member.model.vo.ScrapProduct" alias="ScrapProduct" />
 		<typeAlias type="com.kh.gorang.member.model.vo.LikeRecipe" alias="LikeRecipe" />
 		<typeAlias type="com.kh.gorang.member.model.vo.LikeBoard" alias="LikeBoard" />
 		<typeAlias type="com.kh.gorang.member.model.vo.MyPageBoardCommentDTO" alias="MyPageBoardCommentDTO" />
 		<typeAlias type="com.kh.gorang.member.model.vo.MyPageScrapBoardDTO" alias="MyPageScrapBoardDTO"/>
 		<typeAlias type="com.kh.gorang.member.model.vo.MyPageScrapProductDTO" alias="MyPageScrapProductDTO"/>
 		<typeAlias type="com.kh.gorang.member.model.vo.MyPageScrapRecipeDTO" alias="MyPageScrapRecipeDTO" />
 		<typeAlias type="com.kh.gorang.member.model.vo.MyPageLikeRecipeDTO" alias="MyPageLikeRecipeDTO" />
 		<typeAlias type="com.kh.gorang.member.model.vo.MyPageLikeBoardDTO" alias="MyPageLikeBoardDTO" />
 		<typeAlias type="com.kh.gorang.member.model.vo.ProductQnaDTO" alias="ProductQnaDTO" />
 		<typeAlias type="com.kh.gorang.member.model.vo.RecipeQnaDTO" alias="RecipeQnaDTO" />
 		<typeAlias type="com.kh.gorang.member.model.vo.ProductCart" alias="ProductCart" />
 		
	</typeAliases>
	
	<!-- 
		environment, dataSource에 기술했던 db연결관련 정보들은 root-context.xml에 작성할 것이다.
		왜 why? db등록은 서버연동과 동시에 같이 이뤄져야하기 때문
		서버스타트와 동시에 바로 읽혀지는 root-context.xml 문서에 기술하고 등록해서 스프링으로부터 주입받는다
	 -->
	<!-- mappers: 실행할 sql문들을 기록해둔 mapper 파일들을 등록하는 영역 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/recipe-mapper.xml" />
		<mapper resource="/mappers/product-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/odg-product-mapper.xml" />
		<mapper resource="/mappers/manager-mapper.xml" />
		<mapper resource="/mappers/mypage-mapper.xml" />
		<mapper resource="/mappers/order-mapper.xml"/>
		<mapper resource="/mappers/media-mapper.xml"/>
		<mapper resource="/mappers/search-mapper.xml"/>
		<mapper resource="/mappers/odg-recipe-mapper.xml"/>
	</mappers>
</configuration>  