#store-container {
  width: 100%;
  padding-top: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner {
  width: 100%;
  height: 600px;
  overflow:hidden;
  margin:0 auto;
}

#items {
  width:1240px;
  display:flex;
  flex-direction: column;
  margin: 100px auto;
}

.banner-image, .item-thumbnail, .category-image  {
  width:100%;
  height:100%;
  object-fit:cover;
}

#store-category-area{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.store-category {
  width:100px;
  height:142px;
  display: flex;
  flex-direction: column;
}

.category-name {
  text-align: center;
  font-size: 20px;
}

.items-area{
  margin-top: 80px;
}

.title-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-title {
  font-size: 28px;
  font-weight: bold;
}

.more{
  font-size:18px;
}

.items-container{
  margin-top:28px;
  display: flex;
  justify-content: space-between;

}

.item-brand {
  font-size: 14px;
  color: #999999;
}

.item-name{
  font-size:18px;
}

.item-title{
  margin-bottom: 12px;
}

.item-origin-price {
  font-size:16px;
  color: #999999;
  text-decoration: line-through;
}

.discount-percent {
  font-size: 22px;
  color: #1E90FF;
  font-weight: bold;
  margin-right: 7px;
}

.discounted-price {
  font-size: 22px;
  font-weight: bold;
}

.item-thumbnail-area {
  margin-bottom: 16px;
}
