#main-container {
  width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 60px;
  margin: 270px auto 100px auto;
}

/* 왼쪽 리스트 */
#left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.management-list, .list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

#right-container {
  width: 1073px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#right-title {
  font-size: 32px;
  font-weight: bold;
}

.searchbar {
  width: 680px;
  height: 30px;
  display: flex;
  flex-direction: row;

}

.search-input-container {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  gap: 10px;
}

.search-input-container {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  gap: 10px;
}

.searchbar-container {
  width: 682px;
  border: 1px solid #cececd;
  border-radius: 4px;

}

.i-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
  border: none;
}

.search-input:focus {
  outline: none;
  border: none;
}

.search-btn-container {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  width: 100%;
  height: 100%;
  background-color: #E9F4FF;
  color: #1e90ff;
  border-radius: 0 4px 4px 0;

}

.show-member-status-area {
  width: 950px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-member-result-table{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.result-title {
  font-size: 14px;
  font-weight: bold;
}

.member-table-container {
  margin-bottom: 50px;
}

.member-table {
  width: 480px;
  border-collapse: collapse;
}

.member-table tr td {
  border: 1px solid #cececd;
}

.member-table td {
  padding: 5px;
}

.checkbox-td {
  width: 50px;
}

.user-id-td {
  width: 140px;
}

.member-nickname-td {
  width: 180px;
}

.member-createdate-td {
  width: 140px;
}

.member-table input {
  width: 100%;
  border: 1px solid #cececd;
  padding: 5px;
}

.delete-member-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myBtn {
  width: 100px;
  height: 40px;
  background-color: #1e90ff;
  color: white;
}

